<nz-form-item>
    <nz-form-label [nzFor]="config.field" [nzSpan]="config.config.labelSize.span" [nzSm]="config.config.labelSize.nzSm" [nzXs]="config.config.labelSize.nzXs"
        [nzMd]="config.config.labelSize.nzMd" [nzLg]="config.config.labelSize.nzLg" [nzXl]="config.config.labelSize.nzXl" [nzRequired]="config.config.titleConfig.required">
    {{config.config.title}}</nz-form-label>
    <nz-form-control [nzSpan]="config.config.controlSize.span" [nzSm]="config.config.controlSize.nzSm" [nzXs]="config.config.controlSize.nzXs"
        [nzMd]="config.config.controlSize.nzMd" [nzLg]="config.config.controlSize.nzLg" [nzXl]="config.config.controlSize.nzXl"
        [formGroup]="formGroup">
        <input nz-input hidden="hidden" [formControlName]="config.field"  (ngModelChange)="valueChange($event)" />
        <ng-container *ngIf="isShow">
            <span> {{showLable}} </span>
        </ng-container>
        <ng-container *ngIf="!isShow">
          <ng-container *ngIf="!showAll">
             <span  nz-tooltip [nzTooltipTitle]="showTitle"> {{showShortLable}}  </span><a  (click)='openSapn()'>...</a>
          </ng-container>
           <ng-container *ngIf="showAll">
             <span > {{showLable}}  </span> <a (click)='closeSapn()'>收起</a>
          </ng-container>
        </ng-container>
    </nz-form-control>
</nz-form-item>