<div [ngStyle]="modelstyle">
  <nz-steps [nzCurrent]="index" (nzIndexChange)="onIndexChange($event)">
    <nz-step nzTitle="布局设计" nzDescription="设计当前页面的布局结构."></nz-step>
    <nz-step nzTitle="组件拖拽" nzDescription="给布局上放置组件."></nz-step>
    <nz-step nzTitle="组件设置" nzDescription="设置每个组件的详细配置信息."></nz-step>
    <nz-step nzTitle="结构预览" nzDescription="页面配置效果预览."></nz-step>
  </nz-steps>
  <nz-divider></nz-divider>

  <div>

    <!-- <ng-container cnLayoutResolverDirective [config]="view" *ngFor="let view of currentViews" [initData]="initValue"
    [tempData]="tempValue">
  </ng-container> -->
    <ng-container *ngIf="index ===0">

      <div nz-row [nzGutter]="6">
        <div nz-col [nzSpan]="24">
          <button nz-button [nzSize]="'small'" nzType="primary" nzTitle="保存json" (click)="SaveJson()" nz-tooltip>
            <i nz-icon [nzType]="'download'"></i>保存json</button>

        </div>
      </div>
      <div nz-row [nzGutter]="6">
        <div nz-col [nzSpan]="6">
          <nz-card nzTitle="组件布局树">

            <cfg-tree [dataList]="ts_new"> </cfg-tree>
          </nz-card>

        </div>
        <div nz-col [nzSpan]="18">

          <cfg-layout #child0 [config]="c_config" [configStatus]="true" (updateLayoutValue)="valueChangeLayout($event)">
          </cfg-layout>
        </div>
      </div>

    </ng-container>
    <ng-container *ngIf="index ===1">
      <div nz-row [nzGutter]="6">
        <div nz-col [nzSpan]="24">
          <button nz-button [nzSize]="'small'" nzType="primary" nzTitle="保存json" (click)="SaveJson1()" nz-tooltip>
            <i nz-icon nzType="download"></i>保存json</button>
        </div>
      </div>
      <div nz-row [nzGutter]="6">
        <div nz-col [nzSpan]="4">
          <nz-card nzTitle="组件选项">


            <div nz-card-grid [ngStyle]="gridStyle" [draggable]="is_drag"
              (dragstart)="f_ondragstart($event,'cnToolbar')">
              操作组件
            </div>
            <div nz-card-grid [ngStyle]="gridStyle" [draggable]="is_drag" (dragstart)="f_ondragstart($event,'cnForm')">
              表单组件
            </div>
            <div nz-card-grid [ngStyle]="gridStyle" [draggable]="is_drag"
              (dragstart)="f_ondragstart($event,'cnDataTable')">
              表格组件
            </div>
            <div nz-card-grid [ngStyle]="gridStyle" [draggable]="is_drag" (dragstart)="f_ondragstart($event,'cnTree')">
              树组件
            </div>
            <div nz-card-grid [ngStyle]="gridStyle" [draggable]="is_drag"
              (dragstart)="f_ondragstart($event,'calendar')">
              日历组件
            </div>
            <div nz-card-grid [ngStyle]="gridStyle" [draggable]="is_drag"
              (dragstart)="f_ondragstart($event,'carousel')">
              走马灯组件
            </div>

          </nz-card>

        </div>
        <div nz-col [nzSpan]="20" [ngStyle]="modelstyle1">
          <cfg-layout #child1 *ngIf="c_config" [(config)]="c_config" [designStatus]="designStatus"
            (updateLayoutValue)="valueChangeLayout($event)"></cfg-layout>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="index ===2">
      <div nz-row [nzGutter]="6">
        <div nz-col [nzSpan]="16" [ngStyle]="modelstyle1">
          <cfg-layout *ngIf="c_config" [(config)]="c_config" [designStatus]="designStatus"
            (updateLayoutValue)="valueChangeLayout($event)"></cfg-layout>
        </div>
        <div nz-col [nzSpan]="8" [ngStyle]="modelstyle1">
          <!--              [ngStyle]="{'max-height':(window.document.body.clientHeight-360).toString()+'px','overflow':'auto'}" -->
          <!-- <cn-attribute [(changeValue)]="changeValue"></cn-attribute> -->

          <cfg-attribute [(changeValue)]="changeValue"></cfg-attribute>
        </div>
      </div>

    </ng-container>
    <ng-container *ngIf="index ===3">
      <div nz-row [nzGutter]="6">
        <div nz-col [nzSpan]="24" [ngStyle]="modelstyle1">
          <button nz-button [nzSize]="'small'" nzType="primary" nzTitle="导出json" (click)="DOWN_JSON()" nz-tooltip>
            <i nz-icon nzType="download"></i>导出JSON</button>

          <cfg-layout *ngIf="c_config" [(config)]="c_config" [designStatus]="designStatus"></cfg-layout>
        </div>
      </div>
    </ng-container>

  </div>
</div>