

<!-- <cn-code-edit  [config]="{'mode':'text/x-sql'}"></cn-code-edit> -->
<!-- <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
  <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.title">

    <nz-collapse>
      <nz-collapse-panel *ngFor="let panel of tab.panels" [nzHeader]="panel.name" [nzActive]="panel.active" [nzDisabled]="panel.disabled">
        <p style="margin:0;" *ngIf="panel.panelsform">

          <nz-descriptions nzTitle="" nzBordered [nzLayout]="panel.layout" [nzSize]="panel.size">

            <ng-container *ngFor="let c of panel.panelsform">
              <nz-descriptions-item [nzTitle]="c.name" nzSpan="3">
                <ng-container CnAttributeItemDirective [state]="'edit'" [config]="c.editor" [valueConfig]="{'id':'','value':''}" (updateValue)="valueChange($event)">
                </ng-container>
              </nz-descriptions-item>
            </ng-container>

          </nz-descriptions>
        </p>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-tab>
</nz-tabset> -->
<!--
<hr>
<h2>====动态属性=====</h2>
 <nz-collapse>
  <nz-collapse-panel *ngFor="let panel of M_config" [nzHeader]="panel.name" [nzActive]="panel.active" [nzDisabled]="panel.disabled">
    <p style="margin:0;" *ngIf="panel.panelsform">
       <span>{{_isArray(panel.panelsform[0])}}</span> 
       <ng-container *ngIf="!_isArray(panel.panelsform[0])">
          <nz-descriptions nzTitle="" nzBordered [nzLayout]="panel.layout" [nzSize]="panel.size">
              <ng-container *ngFor="let c of panel.panelsform">
                  <nz-descriptions-item [nzTitle]="c.title" nzSpan="3">
                      <ng-container *ngIf="c.type === 'ARRAY'">
                          <nz-input-group [nzAddOnAfterIcon]="'setting'"   style="width: 100%">
                              <input type="text" nz-input [(ngModel)]="inputValue" />
                            </nz-input-group>
                      </ng-container>
                      <ng-container *ngIf="c.type === 'OBJECT'">
                          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                              <input type="text" nz-input placeholder="input search text" />
                            </nz-input-group>
                            <ng-template #suffixIconButton>
                              <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
                            </ng-template>
                        </ng-container>
                   
                      <ng-container  *ngIf="!c.type" CnAttributeItemDirective [state]="'edit'" [config]="c.editor" [valueConfig]="{'id':'','value':''}" (updateValue)="valueChange($event)">
                      </ng-container>
                    </nz-descriptions-item>
              </ng-container>
      
            </nz-descriptions>
       </ng-container>
       <ng-container *ngIf="_isArray(panel.panelsform[0])">
          <span>表格展示数组数据</span> 

            <nz-table >
                <thead>
                  <tr >
                    <th *ngFor="let c of panel.panelsform[0]">{{c.title}}</th>
                  </tr>
                </thead>
              </nz-table>

        </ng-container>
      
    </p>
  </nz-collapse-panel>
</nz-collapse>
 -->
<!-- <h2>====新动态属性=====</h2> -->
<nz-collapse>
    <nz-collapse-panel *ngFor="let panel of M1_config" [nzHeader]="panel.name" [nzActive]="panel.active" [nzDisabled]="panel.disabled">
      <p style="margin:0;" *ngIf="panel.panelsform">
         <ng-container *ngIf="panel.panelsform.jsonType==='object'">
            <div cn-attribute-form [config]="panel.panelsform"  [changeValue]="changeValue" [attributeType]="attributeType"></div>
            <!-- <nz-descriptions nzTitle="" nzBordered [nzLayout]="panel.layout" [nzSize]="panel.size" [nzColumn]="{ xxl: 4, xl: 3, lg: 3, md: 2, sm: 1, xs: 1 }">
                <ng-container *ngFor="let c of panel.panelsform.objectJson">
                    <nz-descriptions-item [nzTitle]="c.title" nzSpan="2">
                        <ng-container *ngIf="c.type === 'ARRAY'" CnAttributeItemDirective [state]="'edit'" [config]="c.editor"   [attributeConfig] = "c.array" [valueConfig]="{'id':'','value':''}" >
                       
                        </ng-container>
                        <ng-container *ngIf="c.type === 'OBJECT'" CnAttributeItemDirective [state]="'edit'" [config]="c.editor"   [attributeConfig] = "c.object" [valueConfig]="{'id':'','value':''}" >
                          
                          </ng-container>
                     
                        <ng-container  *ngIf="!c.type" CnAttributeItemDirective [state]="'edit'" [config]="c.editor"  [valueConfig]="{'id':'','value':''}" (updateValue)="valueChange($event)">
                        </ng-container>
                      </nz-descriptions-item>
                </ng-container>
        
              </nz-descriptions> -->
         </ng-container>
         <ng-container *ngIf="panel.panelsform.jsonType==='array'">
            <ng-container   CnAttributeItemDirective [state]="'edit'"  [attributeType]="attributeType" [changeValue]="changeValue" [config]="{  type: 'AttributeTable', keyId:panel.panelsform.keyId, field: 'params',columns:panel.panelsform.arrayJson.objectJson}"  [attributeConfig] = "panel.panelsform.arrayJson" [valueConfig]="{'id':'','value':''}" (updateValue)="valueChange($event)">
              </ng-container>
  
              <!-- <ng-container   CnAttributeItemDirective [state]="'edit'" [config]="{  type: 'AttributePropertyGrid', field: 'params',columns:panel.panelsform.arrayJson.objectJson}" [valueConfig]="{'id':'','value':''}" (updateValue)="valueChange($event)">
              </ng-container> -->
              <!-- <nz-table  [nzFooter]="footer">
                  <thead>
                    <tr >
                      <th *ngFor="let c of panel.panelsform.arrayJson.objectJson">{{c.title}}</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </nz-table>
                <ng-template #footer>
                    <button nz-button nzType="primary"  style="width: 100%"><i nz-icon nzType="setting"></i>新增</button>
                  </ng-template> -->
          </ng-container>
        
      </p>
    </nz-collapse-panel>
  </nz-collapse>

