<nz-form-item>
  <nz-form-label [nzFor]="config.field" [nzSpan]="config.config.labelSize.span" [nzSm]="config.config.labelSize.nzSm"
    [nzXs]="config.config.labelSize.nzXs" [nzMd]="config.config.labelSize.nzMd" [nzLg]="config.config.labelSize.nzLg"
    [nzXl]="config.config.labelSize.nzXl" [nzRequired]="config.config.titleConfig.required"
    [nzTooltipTitle]="config.config.labelTooltipTitle" [nzTooltipIcon]="config.config.labelTooltipIcon">
    {{config.config.title}}</nz-form-label>
  <nz-form-control [nzSpan]="config.config.controlSize.span" [nzSm]="config.config.controlSize.nzSm"
    [nzXs]="config.config.controlSize.nzXs" [nzMd]="config.config.controlSize.nzMd"
    [nzLg]="config.config.controlSize.nzLg" [nzXl]="config.config.controlSize.nzXl" [formGroup]="formGroup"
    [nzErrorTip]="combineTpl" nzHasFeedback nzValidatingTip="Validating...">
    <input nz-input [formControlName]="config.field" hidden="hidden" [(ngModel)]="value"
      (ngModelChange)="valueChange($event)" />
    <!--     <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" style="width: 100%">
        <input type="text" nz-input [placeholder]="config.placeholder?config.placeholder:''" [(ngModel)]="_value"
          [ngModelOptions]="{standalone: true}" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="createModal()"><i nz-icon nzType="small-dash"></i></button>
      </ng-template> -->

    <!-- 编辑状态：
      <hr> -->

    <nz-input-group [nzAddOnAfter]="suffixButton" style="width: 100%" (click)="groupClick($event)">
      <input nz-input [placeholder]="config.placeholder" [type]="config.displayType?config.displayType:'text'"
        [(ngModel)]="value" [formControlName]="config.field" (ngModelChange)="valueChange($event)"
        (keyup)="onKeyPress($event)" (blur)="onblur($event,'end')" />
    </nz-input-group>
    <ng-template #suffixButton>
      <button nz-button type="button" nzType="primary" (click)="createCustomModal()"><i nz-icon
          nzType="read"></i></button>
    </ng-template>


    <ng-template #combineTpl let-control>
      <ng-container nz-col *ngFor="let c of config.validations">
        <ng-container *ngIf="control.hasError(c['validator'])">{{c.message ? c.message:'校验不通过' }}</ng-container>
      </ng-container>
      <ng-container *ngIf="control.hasError('_subscribe')">
        The username is redundant!
      </ng-container>
    </ng-template>


  </nz-form-control>
</nz-form-item>