<ng-container *ngIf="config">
    <nz-collapse>
        <nz-collapse-panel *ngFor="let panel of config" [nzActive]="panel.active" [nzHeader]="extraH"
            [nzExtra]="extraTpl">

            {{panel.code}}

            <!--             [详细属性渲染器] -->
            <ng-container CfgPropertyItemDirective [config]="panel" [sourceData]="configData"
                [fromDataService]="fromDataService" (updateValue)="valueChange($event)"></ng-container>
            <ng-template #extraTpl>

                <i nz-icon nzType="setting" (click)="setting(panel)"></i>

            </ng-template>
            <ng-template #extraH>
                {{panel.title}}

            </ng-template>
        </nz-collapse-panel>
    </nz-collapse>
</ng-container>