<div class="container" [ngStyle]="systemInfo['backgroundStyle']">
  <header-i18n showLangText="false" class="langs"></header-i18n>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" [src]="systemInfo['logo']" />
        <span class="title">{{systemInfo['title']}}</span>
      </div>
      <div class="desc">{{systemInfo['subtitle']}}</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      <i nz-icon nzType="copyright"></i> {{systemInfo['copyrightTime']}} <a href="" target="_blank">{{systemInfo['copyright']}}</a>出品
    </global-footer>
  </div>
</div>
