<div (click)="click($event)"
    [ngStyle]="(selectedItem['item'] &&(selectedItem['active']===l_config['type'])&& (selectedItem['item']['id']===l_config['id']) )? body_style_selected: body_style">

    <div>
        <ng-container *ngFor="let toolbar of l_config['children']  let i=index">

            <button (click)="clickItem($event,toolbar)" *ngIf="buttonConfig[toolbar['id']]['type']==='button'"
                nz-button>{{toolbar['title']}}
                <i *ngIf="selectedItem['item'] && selectedItem['item']['id']===toolbar['id']" nz-icon nzType="close"
                    (click)="closebutton(toolbar,l_config)" class="ant-tabs-close-x"></i>
            </button>
            <ng-container *ngIf="buttonConfig[toolbar['id']]['type']==='dropdown'">
                <button nz-button nz-dropdown nzClickHide="false" [nzDropdownMenu]="menu"
                    (click)="clickItem($event,toolbar,i)">{{ toolbar['title']
                    }} <i nz-icon nzType="down"></i>
                    <i *ngIf="selectedItem['item'] && selectedItem['item']['id']===toolbar['id']" nz-icon nzType="close"
                        (click)="closebutton(toolbar,l_config)" class="ant-tabs-close-x"></i>
                </button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                        <ng-template ngFor let-btn [ngForOf]="toolbar['children']">
                            <li *ngIf="!btn.hidden" nz-menu-item (click)="clickItem($event,btn)">
                                <i nz-icon *ngIf="btn.icon" [nzType]="btn.icon"
                                    [nzTheme]="btn.theme ? btn.theme : 'outline'" [nzTwotoneColor]="'#A5A5B8'"></i>
                                {{btn.title}}
                                <i *ngIf="selectedItem['item'] && selectedItem['item']['id']===btn['id']" nz-icon
                                    nzType="close" (click)="closebutton(btn,toolbar)" class="ant-tabs-close-x"></i>
                            </li>
                        </ng-template>
                        <li nz-menu-divider></li>
                        <li nz-menu-item (click)="addDropdownItem(toolbar)"><i nz-icon nzType="plus"></i></li>
                    </ul>

                </nz-dropdown-menu>
            </ng-container>

        </ng-container>
        <button nz-button style="margin-left: 8px;" nzType="dashed" (click)="addToolbar()">
            <i nz-icon nzType="plus"></i></button>
    </div>
</div>