<nz-card *ngIf="!designStatus" [nzTitle]="titleTemplate" style="width:100%; " [nzExtra]="extraTemplate">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</nz-card>
<ng-template #content>
    <ng-container *ngIf="layoutType">
        <ng-container *ngFor="let r of rows">
            <cfg-layout-row [config]="r" [designStatus]="designStatus" (updateValue)="valueChangeRow($event)">
            </cfg-layout-row>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="!layoutType">
        <cfg-custom-layout [config]="config" [designStatus]="designStatus"></cfg-custom-layout>
    </ng-container>
</ng-template>
<ng-template #extraTemplate>
    <!-- 设计状态下操作 -->
    <ng-container *ngIf="designStatus">
        <ng-container *ngIf="configType">
            <button nz-button [nzSize]="'small'" nzType="primary" nzTitle="保存json" (click)="SaveJson()" nz-tooltip>
                <i nz-icon nzType="download"></i>保存json</button>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="!designStatus">
        <!-- <nz-switch [(ngModel)]="layoutType" (ngModelChange)="layoutTypeChange($event)" nzCheckedChildren="行列"
            nzUnCheckedChildren="收缩" style="margin-right: 7px;"></nz-switch> -->

        <ng-container *ngIf="layoutType">
            <button nz-button [nzSize]="'small'" nzType="primary" nzTitle="添加行" (click)="addRow()" nz-tooltip>
                <i nz-icon nzType="plus"></i>添加行</button>
        </ng-container>

        <!-- <ng-container *ngIf="configType">
            <button nz-button [nzSize]="'small'" nzType="primary" nzTitle="保存json" (click)="SaveJson()" nz-tooltip>
                <i nz-icon type="download"></i>保存json</button>
        </ng-container> -->
    </ng-container>


</ng-template>
<ng-template #titleTemplate>
    <ng-container *ngIf="editTitleState">
        <input nz-input placeholder="标题" [(ngModel)]="config.title" (blur)="onblurtitle($event,'end')"
            (keyup)="onKeyPress($event,'end')" autofocus />
    </ng-container>
    <span *ngIf="!editTitleState" (dblclick)="editTitle($event)">{{config.title}}
    </span>
</ng-template>
<div *ngIf="designStatus">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</div>