<nz-form-item>
  <nz-form-label [nzFor]="config.field" [nzSpan]="config.config.labelSize.span" [nzSm]="config.config.labelSize.nzSm"
    [nzXs]="config.config.labelSize.nzXs" [nzMd]="config.config.labelSize.nzMd" [nzLg]="config.config.labelSize.nzLg"
    [nzXl]="config.config.labelSize.nzXl" [nzRequired]="config.config.titleConfig.required"
    [nzTooltipTitle]="config.config.labelTooltipTitle" [nzTooltipIcon]="config.config.labelTooltipIcon">
    {{config.config.title}}</nz-form-label>
  <nz-form-control [nzSpan]="config.config.controlSize.span" [nzSm]="config.config.controlSize.nzSm"
    [nzXs]="config.config.controlSize.nzXs" [nzMd]="config.config.controlSize.nzMd"
    [nzLg]="config.config.controlSize.nzLg" [nzXl]="config.config.controlSize.nzXl" [formGroup]="formGroup"
    [nzErrorTip]="" nzHasFeedback nzValidatingTip="Validating...">
    <input nz-input [formControlName]="config.field" hidden="hidden" [(ngModel)]="value"
      (ngModelChange)="valueChange($event)" />
    <!--     <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" style="width: 100%">
      <input type="text" nz-input [placeholder]="config.placeholder?config.placeholder:''" [(ngModel)]="_value"
        [ngModelOptions]="{standalone: true}" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="createModal()"><i nz-icon nzType="small-dash"></i></button>
    </ng-template> -->

    <!-- 编辑状态：
    <hr> -->
    <ng-container *ngIf="!config.readonly">
      <nz-input-group [nzAddOnAfter]="suffixButton" style="width: 100%">
        <input type="hidden" nz-input placeholder="input search text" />
        <div class="custom-select" data-text="请选择">
          <nz-tag *ngFor="let tag of tags; let i = index;" style="margin-bottom: 3px" (nzOnClose)="handleClose1(tag)"
            [nzMode]="'closeable'" [nzColor]="'cyan'">
            {{ tag['label']}}
          </nz-tag>
        </div>
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button type="button" nzType="primary" (click)="createCustomModal()"><i nz-icon
            nzType="small-dash"></i></button>
      </ng-template>
    </ng-container>
    <ng-container *ngIf="config.readonly">
      <nz-input-group style="width: 100%">
        <input type="hidden" nz-input placeholder="input search text" />
        <div style="border:1px solid #d9d9d9; background-color: #fff; min-height: 35px;  padding:3px">
          <nz-tag *ngFor="let tag of tags; let i = index;" style="margin-bottom: 3px" [nzColor]="'cyan'">
            {{ tag['label']}}
          </nz-tag>
        </div>
      </nz-input-group>
    </ng-container>




  </nz-form-control>
</nz-form-item>