<div *ngIf="showLayout">
    <ng-container *ngFor="let r of l_config['children']  let i=index">
        <div (drop)="f_ondrop($event,l_config,i)" (dragover)="f_ondragover($event,l_config)"
            (dragenter)="f_ondragenter($event,i)" (dragleave)="f_ondragleave($event,i)">
            <app-cfg-page-row [(l_config)]="l_config['children'][i]" [showLayout]="showLayout"
                [(selectedItem)]="selectedItem" [(cmptState)]="cmptState" [fromDataService]="fromDataService"
                (layoutOptions)="exec_options($event)">
            </app-cfg-page-row>
        </div>
    </ng-container>
</div>

<div *ngIf="!showLayout">
    <ng-container *ngFor="let r of l_config['children']  let i=index">
        <div (drop)="f_ondrop($event,l_config,i)" (dragover)="f_ondragover($event,l_config)"
            (dragenter)="f_ondragenter($event,i)" (dragleave)="f_ondragleave($event,i)">
            <app-cfg-page-row [(l_config)]="l_config['children'][i]" [showLayout]="showLayout"
                [(selectedItem)]="selectedItem" [(cmptState)]="cmptState" [fromDataService]="fromDataService">
            </app-cfg-page-row>
        </div>
    </ng-container>
</div>