<ul nz-list [nzDataSource]="data" nzBordered nzSize="large">
    <nz-list-header>【监听明细】<nz-badge nzStandalone [nzCount]="interfaceCount" [nzOverflowCount]="999"
            [nzStyle]="{ backgroundColor: '#52c41a' }">
        </nz-badge>
    </nz-list-header>
    <li nz-list-item *ngFor="let item of data" nzNoFlex>
        <ul nz-list-item-actions>
            <nz-list-item-action>
                <!-- <a (click)="info('edit')">edit</a>
                <a (click)="info('edit')">delete</a> -->
                <button nz-button [nzSize]="'small'" nzType="primary" nzTitle="设置" nz-tooltip> <i nz-icon
                        nzType="setting"></i></button>
                <button nz-button [nzSize]="'small'" nzType="primary" style="margin-left: 3px;" nzTitle="删除" nz-tooltip>
                    <i nz-icon nzType="delete"></i></button>
            </nz-list-item-action>
        </ul>
        {{ item }}
    </li>
    <nz-list-footer>
        <button nz-button *ngIf="!readonly" type="button" nzType="dashed" nzBlock="true" nzSize="default"
            (click)="addBtnClick($event)"><i nz-icon nzType="plus"></i>
            添加</button>
    </nz-list-footer>
</ul>