<button nz-button *ngIf="!readonly" type="button" nzType="dashed" nzBlock="true" nzSize="default"
  style="margin-bottom: 3px;" (click)="addBtnClick($event)"><i nz-icon nzType="plus"></i>
  添加</button>

<!-- <button nz-button *ngIf="!readonly" type="button" nzType="dashed" nzBlock="true" nzSize="default"
  style="margin-bottom: 3px;" (click)="addBtnClick_tanchu($event)"><i nz-icon nzType="plus"></i>
  弹出页面添加</button>
<button nz-button [nzType]="'primary'" (click)="showModal()"><span>Show Modal</span></button> -->
<nz-modal [(nzVisible)]="isVisible" [nzBodyStyle]="{'width':'80%'}" nzWidth="80%" nzTitle="liu测试_弹出分布表单"
  [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <nz-steps [nzCurrent]="current">
      <nz-step nzTitle="选择表达式分类"></nz-step>
      <nz-step nzTitle="表达式赋值"></nz-step>
      <nz-step nzTitle="执行结果"></nz-step>
    </nz-steps>

    <div class="steps-content">{{ index }}

      <ng-container *ngIf="current===0">
        <form nz-form>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="email">选择类型</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input name="email" type="email" id="email">
            </nz-form-control>
          </nz-form-item>
        </form>
      </ng-container>
      <ng-container *ngIf="current===1">
        <form nz-form>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="email">表达式值</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input name="email" type="email" id="email">
            </nz-form-control>
          </nz-form-item>
        </form>
      </ng-container>
      <ng-container *ngIf="current===2">
        执行成功
      </ng-container>



    </div>


  </ng-container>
  <ng-template #modalFooter>
    <div class="steps-action">
      <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
        <span>上一步</span>
      </button>
      <button nz-button nzType="default" (click)="next()" *ngIf="current < 2">
        <span>下一步</span>
      </button>
      <button nz-button nzType="primary" (click)="done()" *ngIf="current === 2">
        <span>完成</span>
      </button>
    </div>
  </ng-template>
</nz-modal>
<nz-table #dataTable [nzShowSizeChanger]="config.isShowSizeChanger" [nzLoadingDelay]="300" [nzFrontPagination]="true"
  [nzShowPagination]="config.isPagination" [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
  [nzPageSizeOptions]="config.pageSizeOptions" [nzData]="dataList" [nzShowTotal]="showTotal"
  [nzBordered]="config.isBordered" [nzSize]="'small'" [nzTitle]="config.title ? title : null"
  [nzScroll]="config.scroll ? config.scroll : null"
  [nzWidthConfig]="config.spanWidthConfig ? config.spanWidthConfig : null">
  <thead (nzSortChange)="sort($event)" nzSingleSort="true">
    <!-- 夸列表头 -->
    <ng-template ngFor let-spans let-i="index" [ngForOf]="config.spanHeader"
      *ngIf="config.spanHeader; else normalHeader">
      <tr>
        <th *ngIf="i === 0 && config.showCheckBox" attr.rowspan="{{ config.spanHeader.length }}" [nzWidth]="'50px'"
          [nzShowCheckbox]="config.showCheckBox" [(nzChecked)]="isAllChecked" [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
        <ng-template ngFor let-span [ngForOf]="spans">
          <ng-container [ngSwitch]="span.spanType">
            <th *ngSwitchCase="'row'" [nzAlign]="span.titleAlign?span.titleAlign:'left'" attr.rowspan="{{ span.span }}">
              {{ span.title }}</th>
            <th *ngSwitchCase="'col'" [nzAlign]="span.titleAlign?span.titleAlign:'left'" attr.colspan="{{ span.span }}">
              {{ span.title }}</th>
            <th *ngSwitchDefault [nzAlign]="span.titleAlign?span.titleAlign:'left'">{{ span.title }}</th>
          </ng-container>
        </ng-template>
      </tr>
    </ng-template>
    <!-- 夸列表头 -->

    <!-- 常规表头 -->
    <ng-template #normalHeader>
      <tr>
        <th
          [nzWidth]="(config.showCheckBoxConfig && config.showCheckBoxConfig.hasOwnProperty('width'))?config.showCheckBoxConfig['width']:'50px'"
          [nzLeft]="(config.showCheckBoxConfig && config.showCheckBoxConfig.hasOwnProperty('offsetLeft'))?config.showCheckBoxConfig.offsetLeft:null"
          *ngIf="config.showCheckBox" nzWidth="50px" [(nzChecked)]="isAllChecked" [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
        <ng-template ngFor let-header [ngForOf]="tableColumns">
          <th [nzAlign]="header.titleAlign?header.titleAlign:'left'"
            [nzLeft]="header.hasOwnProperty('offsetLeft')?header.offsetLeft:null"
            [nzRight]="header.hasOwnProperty('offsetRight')?header.offsetRight:null" [nzWidth]="header.width"
            *ngIf="header.hasOwnProperty('titleHidden')? !header.titleHidden :!header.hidden"
            [nzShowSort]="header.showSort?header.showSort:false">
            {{ header.title }}
          </th>
        </ng-template>
      </tr>
    </ng-template>
    <!-- 常规表头 -->
  </thead>
  <tbody>
    <tr *ngFor="let rowData of dataTable.data" (click)="setSelectRow(rowData, $event)" [ngClass]="{ 
        newRow: mapOfDataState[rowData[KEY_ID]]['state'] === 'new' ? true : false, 
        validationError:  !mapOfDataState[rowData[KEY_ID]]['validation'],
        editRow: mapOfDataState[rowData[KEY_ID]]['state'] === 'edit' ? true : false,
        selectedRow: mapOfDataState[rowData[KEY_ID]] ? mapOfDataState[rowData[KEY_ID]]['selected'] : false
      }">
      <td nzShowCheckbox *ngIf="config.showCheckBox" [(nzChecked)]="mapOfDataState[rowData[KEY_ID]]['checked']"
        (nzCheckedChange)="dataCheckedStatusChange()">
      </td>
      <!--<td>
         <span>
          <nz-tag nzColor="#87d068" (click)="addBtnClick()"><i nz-icon nzType="plus"></i></nz-tag>
          <nz-tag nzColor="#f50"><i nz-icon nzType="minus"></i></nz-tag>
        </span>

      </td> -->
      <ng-template ngFor let-col [ngForOf]="tableColumns">
        <ng-container [ngSwitch]="col.type" *ngIf="!col.hidden && (rowData['$state$'] !== 'delete')">
          <ng-container *ngSwitchCase="'index'">
            <td [nzAlign]="col.align?col.align:'left'" [nzLeft]="col.hasOwnProperty('offsetLeft')?col.offsetLeft:null"
              [nzRight]="col.hasOwnProperty('offsetRight')?col.offsetRight:null"
              [attr.rowspan]="mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]?(mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field].groupIndex===1 ? mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]['groupNum'] : 1):1"
              [attr.colspan]="mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]?(mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]['colgroupIndex']===1 ? mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]['colgroupNum'] : 1):1"
              *ngIf="!mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field] || ( mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]['groupIndex'] === 1 && mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]['colgroupIndex'] === 1 )">
              {{ mapOfDataState[rowData[KEY_ID]]['originData'][col.field] }}
            </td>
          </ng-container>
          <ng-container *ngSwitchCase="'field'">
            <ng-container [ngSwitch]="mapOfDataState[rowData[KEY_ID]]['state']">
              <ng-container *ngIf="col.editor">

                <ng-container *ngSwitchCase="'new'">
                  <td [nzAlign]="col.align?col.align:'left'"
                    [nzLeft]="col.hasOwnProperty('offsetLeft')?col.offsetLeft:null"
                    [nzRight]="col.hasOwnProperty('offsetRight')?col.offsetRight:null"
                    [attr.rowspan]="mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]?(mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field].groupIndex===1 ? mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]['groupNum'] : 1):1"
                    [attr.colspan]="mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]?(mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]['colgroupIndex']===1 ? mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]['colgroupNum'] : 1):1"
                    *ngIf="!mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field] || ( mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]['groupIndex'] === 1 && mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]['colgroupIndex'] === 1 )">
                    <ng-container CnGridItemDirective [state]="'new'" *ngIf="col.editor ; else t1" [config]="col.editor"
                      [rowData]="mapOfDataState[rowData[KEY_ID]]['data']" [initData]="initValue" [tempData]="tempData"
                      [valueConfig]="{'id':rowData[KEY_ID],'value':mapOfDataState[rowData[KEY_ID]]['data'][col.editor.field]}"
                      (updateValue)="valueChange($event)"
                      [formCascade]="formCascade[rowData[KEY_ID]]?(formCascade[rowData[KEY_ID]][col.editor.field]?formCascade[rowData[KEY_ID]][col.editor.field]:{}):{}">

                    </ng-container>
                    <ng-template #t1>
                      <ng-container [ngSwitch]="mapOfDataState[rowData[KEY_ID]]['state']">
                        <ng-container *ngSwitchCase="'new'">
                          {{ mapOfDataState[rowData[KEY_ID]]['data'][col.field] }}
                        </ng-container>
                        <ng-container *ngSwitchCase="'edit'">
                          {{ mapOfDataState[rowData[KEY_ID]]['data'][col.field] }}
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                          {{ mapOfDataState[rowData[KEY_ID]]['originData'][col.field] }}
                        </ng-container>
                      </ng-container>

                    </ng-template>
                  </td>
                </ng-container>
                <ng-container *ngSwitchCase="'edit'">
                  <td [nzAlign]="col.align?col.align:'left'"
                    [nzLeft]="col.hasOwnProperty('offsetLeft')?col.offsetLeft:null"
                    [nzRight]="col.hasOwnProperty('offsetRight')?col.offsetRight:null"
                    [attr.rowspan]="mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]?(mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field].groupIndex===1 ? mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]['groupNum'] : 1):1"
                    [attr.colspan]="mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]?(mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]['colgroupIndex']===1 ? mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]['colgroupNum'] : 1):1"
                    *ngIf="!mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field] || ( mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]['groupIndex'] === 1 && mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]['colgroupIndex'] === 1 )">

                    <ng-container CnGridItemDirective [state]="'edit'" *ngIf="col.editor ; else t2"
                      [config]="col.editor" [rowData]="mapOfDataState[rowData[KEY_ID]]['data']" [initData]="initValue"
                      [tempData]="tempData"
                      [valueConfig]="{'id':rowData[KEY_ID],'value':mapOfDataState[rowData[KEY_ID]]['data'][col.editor.field]}"
                      (updateValue)="valueChange($event)"
                      [formCascade]="formCascade[rowData[KEY_ID]]?(formCascade[rowData[KEY_ID]][col.editor.field]?formCascade[rowData[KEY_ID]][col.editor.field]:{}):{}">
                    </ng-container>
                    <ng-template #t2>
                      <ng-container [ngSwitch]="mapOfDataState[rowData[KEY_ID]]['state']">
                        <ng-container *ngSwitchCase="'new'">
                          {{ mapOfDataState[rowData[KEY_ID]]['data'][col.field] }}
                        </ng-container>
                        <ng-container *ngSwitchCase="'edit'">
                          {{ mapOfDataState[rowData[KEY_ID]]['data'][col.field] }}
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                          {{ mapOfDataState[rowData[KEY_ID]]['originData'][col.field] }}
                        </ng-container>
                      </ng-container>

                    </ng-template>
                  </td>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  <td [nzAlign]="col.align?col.align:'left'"
                    [nzLeft]="col.hasOwnProperty('offsetLeft')?col.offsetLeft:null"
                    [nzRight]="col.hasOwnProperty('offsetRight')?col.offsetRight:null"
                    [attr.rowspan]="mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]?(mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field].groupIndex===1 ? mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]['groupNum'] : 1):1"
                    [attr.colspan]="mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]?(mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]['colgroupIndex']===1 ? mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]['colgroupNum'] : 1):1"
                    *ngIf="!mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field] || ( mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]['groupIndex'] === 1 && mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]['colgroupIndex'] === 1 )">
                    {{ mapOfDataState[rowData[KEY_ID]]['originData'][col.field] }}</td>
                </ng-container>



              </ng-container>
              <ng-container *ngIf="!col.editor">
                <td [nzAlign]="col.align?col.align:'left'" [nzAlign]="col.align?col.align:'left'"
                  [nzLeft]="col.hasOwnProperty('offsetLeft')?col.offsetLeft:null"
                  [nzRight]="col.hasOwnProperty('offsetRight')?col.offsetRight:null"
                  [attr.rowspan]="mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]?(mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field].groupIndex===1 ? mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]['groupNum'] : 1):1"
                  [attr.colspan]="mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]?(mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]['colgroupIndex']===1 ? mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]['colgroupNum'] : 1):1"
                  *ngIf="!mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field] || ( mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]['groupIndex'] === 1 && mapOfDataState[rowData[KEY_ID]]['mergeData'][col.field]['colgroupIndex'] === 1 )">
                  <ng-container *ngIf="col.custom; else t3" CnGridItemDirective [state]="'edit'" [config]="col.custom"
                    [rowData]="mapOfDataState[rowData[KEY_ID]]['data']" [initData]="initValue" [tempData]="tempData"
                    [valueConfig]="{'id':rowData[KEY_ID],'value':mapOfDataState[rowData[KEY_ID]]['data']}"
                    (updateValue)="valueChange($event)"
                    [formCascade]="formCascade[rowData[KEY_ID]]?formCascade[rowData[KEY_ID]][col.editor.field]:null">
                  </ng-container>
                  <ng-template #t3>
                    <ng-container [ngSwitch]="mapOfDataState[rowData[KEY_ID]]['state']">
                      <ng-container *ngSwitchCase="'new'">
                        {{ mapOfDataState[rowData[KEY_ID]]['data'][col.field] }}
                      </ng-container>
                      <ng-container *ngSwitchCase="'edit'">
                        {{ mapOfDataState[rowData[KEY_ID]]['data'][col.field] }}
                      </ng-container>
                      <ng-container *ngSwitchDefault>
                        {{ mapOfDataState[rowData[KEY_ID]]['originData'][col.field] }}
                      </ng-container>
                    </ng-container>

                  </ng-template>
                </td>
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'action'">
            <td [nzLeft]="col.hasOwnProperty('offsetLeft')?col.offsetLeft:null"
              [nzRight]="col.hasOwnProperty('offsetRight')?col.offsetRight:null">
              <ng-container *ngIf="mapOfDataState[rowData[KEY_ID]]['actions'].length>1">
                <nz-button-group>
                  <button nzSize="default" nzType="primary" nz-button type="button" nz-dropdown [nzDropdownMenu]="menu"
                    nzPlacement="bottomLeft">
                    <i nz-icon nzType="ellipsis" class="text-lg green"></i>
                  </button>
                </nz-button-group>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu nzSelectable>
                    <li (click)="rowAction(act, rowData, $event)" nz-menu-item
                      *ngFor="let act of mapOfDataState[rowData[KEY_ID]]['actions']">
                      <i nz-icon [nzType]="act.icon" nzTheme="outline"></i> {{ act.text }}
                      <!-- <button (click)="rowAction(act, rowData, $event)" nz-button [nzSize]="act.size"
                              [nzType]="act.color ? act.color : 'default'">
        
                            </button> -->
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </ng-container>
              <ng-container *ngIf="mapOfDataState[rowData[KEY_ID]]['actions'].length===1">
                <ng-template ngFor let-act [ngForOf]="mapOfDataState[rowData[KEY_ID]]['actions']">
                  <button (click)="rowAction(act, rowData, $event)" nz-button type="button" nzSize="act.size"
                    [nzType]="act.color ? act.color : 'default'">
                    <i nz-icon [nzType]="act.icon" nzTheme="outline"></i> {{ act.text }}
                  </button>
                </ng-template>
              </ng-container>
              <!-- <ng-template ngFor let-act [ngForOf]="mapOfDataState[rowData[KEY_ID]]['actions']">
                <ng-container [ngSwitch]="act.type">
                  <ng-container *ngSwitchCase="'link'">
                    <a *ngIf="!act.hidden" (click)="rowAction(act, rowData, $event)"><i nz-icon [nzType]="act.icon"
                        nzTheme="outline"></i> {{ act.text }}</a>
                    <nz-divider nzType="vertical" *ngIf="!act.hidden"></nz-divider>
                  </ng-container>
                  <ng-container *ngSwitchCase="'button'">
                    <button (click)="rowAction(act, rowData, $event)" nz-button [nzSize]="act.size"
                      [nzType]="act.color ? act.color : 'default'">
                      <i nz-icon [nzType]="act.icon" nzTheme="outline"></i> {{ act.text }}
                    </button>
                  </ng-container>
                </ng-container>
              </ng-template> -->
            </td>
          </ng-container>
        </ng-container>
      </ng-template>
    </tr>

    <tr *ngIf="config.enableColSummary">
      <td></td>
      <ng-template ngFor let-col [ngForOf]="tableColumns">
        <td *ngIf="col.type === 'field' && !col.hidden" nzAlign="right"
          [nzLeft]="col.hasOwnProperty('offsetLeft')?col.offsetLeft:null"
          [nzRight]="col.hasOwnProperty('offsetRight')?col.offsetRight:null">
          <span *ngIf="col.summary">{{col.summary.label}}
            {{tempValue[col.summary.name] ? tempValue[col.summary.name] : 0}}</span>
        </td>
      </ng-template>
    </tr>
  </tbody>
  <tfoot>



  </tfoot>
</nz-table>
<ng-template #showTotal>
  <!-- <span>
    已选中
    <span class="count" nz-text>
      <code>{{ checkedNumber }}</code>
    </span>
    条记录
  </span> -->
  共
  <span class="count" nz-text>
    <code>{{ total }}</code>
  </span>
  条记录
</ng-template>
<ng-template #title> <i nz-icon [nzType]="config.titleIcon" nzTheme="outline"></i> {{ config.title }}</ng-template>

<!-- colspan="2" -->


<!-- <nz-table #colSpanTable1 [nzData]="listOfData" nzBordered>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th colspan="2">配方量</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of colSpanTable1.data; index as i">

      <td>{{ data.name }}</td>
      <td>{{ data.age }}</td>
      <td [nzAlign]="'center'"
        [attr.rowspan]="mapd[data['id']]['tel']?(mapd[data['id']]['tel'].groupIndex===1 ? mapd[data['id']]['tel'].groupNum : 1):1"
        [attr.colspan]="mapd[data['id']]['tel']?(mapd[data['id']]['tel']['colgroupIndex']===1 ? mapd[data['id']]['tel'].colgroupNum : 1):1"
        *ngIf=" !mapd[data['id']]['tel'] || ( mapd[data['id']]['tel']['groupIndex'] === 1 && mapd[data['id']]['tel']['colgroupIndex'] === 1 )">
        {{ data.tel }}</td>
      <td [nzAlign]="'center'"
        [attr.rowspan]="mapd[data['id']]['phone']?(mapd[data['id']]['phone'].groupIndex===1 ? mapd[data['id']]['phone'].groupNum : 1):1"
        [attr.colspan]="mapd[data['id']]['phone']?(mapd[data['id']]['phone']['colgroupIndex']===1 ? mapd[data['id']]['phone'].colgroupNum : 1):1"
        *ngIf="!mapd[data['id']]['phone'] || ( mapd[data['id']]['phone']['groupIndex'] === 1 && mapd[data['id']]['phone']['colgroupIndex'] === 1 )">
        {{ data.phone }}</td>
    </tr>
  </tbody>
</nz-table>
<button (click)="createMapd()">合并</button><button (click)="createMapd1()">恢复</button>


<nz-table #colSpanTable2 [nzData]="listOfData2" nzBordered>
  <thead>
    <tr>
      <th *ngFor="let col of mergetableColumns">{{ col.title }}</th>
    </tr>

  </thead>
  <tbody>
    <tr *ngFor="let data of colSpanTable2.data; index as i">
      <ng-template ngFor let-col [ngForOf]="mergetableColumns">

        <ng-container *ngIf="!mergeData[data['id']]">
          <td [nzAlign]="'center'"> {{ data[col.field] }}</td>
        </ng-container>
        <ng-container *ngIf="mergeData[data['id']]">
          <td [nzAlign]="'center'"
            [attr.rowspan]="mergeData[data['id']][col.field]?(mergeData[data['id']][col.field].groupIndex===1 ? mergeData[data['id']][col.field].groupNum : 1):1"
            [attr.colspan]="mergeData[data['id']][col.field]?(mergeData[data['id']][col.field]['colgroupIndex']===1 ? mergeData[data['id']][col.field].colgroupNum : 1):1"
            *ngIf="!mergeData[data['id']][col.field] || ( mergeData[data['id']][col.field]['groupIndex'] === 1 && mergeData[data['id']][col.field]['colgroupIndex'] === 1 )">
            {{ data[col.field] }}
          </td>
        </ng-container>

      </ng-template>
    </tr>
  </tbody>
</nz-table>

<button (click)="createMapd_new()">合并</button><button (click)="createMapd1_new()">恢复</button> -->