<nz-row>
    <nz-col nzSpan="8">
        nzSpan:
    </nz-col>
    <nz-col nzSpan="10">
        <nz-slider [nzMin]="1" [nzMax]="24" [(ngModel)]="labelSize.span"></nz-slider>
    </nz-col>
    <div nz-col nzSpan="4">
        <nz-input-number [nzMin]="1" [nzMax]="24" [(ngModel)]="labelSize.span"></nz-input-number>
    </div>
</nz-row>

<nz-row>
    <nz-col nzSpan="24">
        <nz-divider nzText="576px nzXs" nzPlain nzOrientation="left"></nz-divider>
    </nz-col>
    <nz-col nzSpan="24">
        <nz-row>
            <nz-col nzSpan="4">
                <code>span:</code>
            </nz-col>
            <nz-col nzSpan="10">
                <nz-slider [nzMin]="1" [nzMax]="24" [(ngModel)]="labelSize.nzXs.span"></nz-slider>
            </nz-col>
            <div nz-col nzSpan="4">
                <nz-input-number [nzMin]="1" [nzMax]="24" [(ngModel)]="labelSize.nzXs.span">
                </nz-input-number>
            </div>
        </nz-row>
        <nz-row>
            <nz-col nzSpan="4">
                <code>offset:</code>
            </nz-col>
            <nz-col nzSpan="10">
                <nz-slider [nzMin]="1" [nzMax]="24" [(ngModel)]="labelSize.nzXs.span"></nz-slider>
            </nz-col>
            <div nz-col nzSpan="4">
                <nz-input-number [nzMin]="0" [nzMax]="24" [(ngModel)]="labelSize.nzXs.offset">
                </nz-input-number>
            </div>
        </nz-row>
    </nz-col>

</nz-row>

<nz-row>
    <nz-col nzSpan="24">
        <nz-divider nzText="≥576px nzSm" nzPlain nzOrientation="left"></nz-divider>
    </nz-col>
    <nz-col nzSpan="24">
        <nz-row>
            <nz-col nzSpan="4">
                <code>span:</code>
            </nz-col>
            <nz-col nzSpan="10">
                <nz-slider [nzMin]="1" [nzMax]="24" [(ngModel)]="labelSize.nzSm.span"></nz-slider>
            </nz-col>
            <div nz-col nzSpan="4">
                <nz-input-number [nzMin]="1" [nzMax]="24" [(ngModel)]="labelSize.nzSm.span">
                </nz-input-number>
            </div>
        </nz-row>
        <nz-row>
            <nz-col nzSpan="4">
                <code>offset:</code>
            </nz-col>
            <nz-col nzSpan="10">
                <nz-slider [nzMin]="1" [nzMax]="24" [(ngModel)]="labelSize.nzSm.span"></nz-slider>
            </nz-col>
            <div nz-col nzSpan="4">
                <nz-input-number [nzMin]="0" [nzMax]="24" [(ngModel)]="labelSize.nzSm.offset">
                </nz-input-number>
            </div>
        </nz-row>
    </nz-col>

</nz-row>

<nz-row>
    <nz-col nzSpan="24">
        <nz-divider nzText="≥768px nzMd" nzPlain nzOrientation="left"></nz-divider>
    </nz-col>
    <nz-col nzSpan="24">
        <nz-row>
            <nz-col nzSpan="4">
                <code>span:</code>
            </nz-col>
            <nz-col nzSpan="10">
                <nz-slider [nzMin]="1" [nzMax]="24" [(ngModel)]="labelSize.nzMd.span"></nz-slider>
            </nz-col>
            <div nz-col nzSpan="4">
                <nz-input-number [nzMin]="1" [nzMax]="24" [(ngModel)]="labelSize.nzMd.span">
                </nz-input-number>
            </div>
        </nz-row>
        <nz-row>
            <nz-col nzSpan="4">
                <code>offset:</code>
            </nz-col>
            <nz-col nzSpan="10">
                <nz-slider [nzMin]="1" [nzMax]="24" [(ngModel)]="labelSize.nzMd.span"></nz-slider>
            </nz-col>
            <div nz-col nzSpan="4">
                <nz-input-number [nzMin]="0" [nzMax]="24" [(ngModel)]="labelSize.nzMd.offset">
                </nz-input-number>
            </div>
        </nz-row>
    </nz-col>

</nz-row>
<nz-row>
    <nz-col nzSpan="24">
        <nz-divider nzText="≥992px nzLg" nzPlain nzOrientation="left"></nz-divider>
    </nz-col>
    <nz-col nzSpan="24">
        <nz-row>
            <nz-col nzSpan="4">
                <code>span:</code>
            </nz-col>
            <nz-col nzSpan="10">
                <nz-slider [nzMin]="1" [nzMax]="24" [(ngModel)]="labelSize.nzLg.span"></nz-slider>
            </nz-col>
            <div nz-col nzSpan="4">
                <nz-input-number [nzMin]="1" [nzMax]="24" [(ngModel)]="labelSize.nzLg.span">
                </nz-input-number>
            </div>
        </nz-row>
        <nz-row>
            <nz-col nzSpan="4">
                <code>offset:</code>
            </nz-col>
            <nz-col nzSpan="10">
                <nz-slider [nzMin]="1" [nzMax]="24" [(ngModel)]="labelSize.nzLg.span"></nz-slider>
            </nz-col>
            <div nz-col nzSpan="4">
                <nz-input-number [nzMin]="0" [nzMax]="24" [(ngModel)]="labelSize.nzLg.offset">
                </nz-input-number>
            </div>
        </nz-row>
    </nz-col>

</nz-row>

<nz-row>
    <nz-col nzSpan="24">

        <nz-divider nzText="≥1200px ngXl" nzPlain nzOrientation="left"></nz-divider>
    </nz-col>
    <nz-col nzSpan="24">
        <nz-row>
            <nz-col nzSpan="4">
                <code>span:</code>
            </nz-col>
            <nz-col nzSpan="10">
                <nz-slider [nzMin]="1" [nzMax]="24" [(ngModel)]="labelSize.ngXl.span"></nz-slider>
            </nz-col>
            <div nz-col nzSpan="4">
                <nz-input-number [nzMin]="1" [nzMax]="24" [(ngModel)]="labelSize.ngXl.span">
                </nz-input-number>
            </div>
        </nz-row>
        <nz-row>
            <nz-col nzSpan="4">
                <code>offset:</code>
            </nz-col>
            <nz-col nzSpan="10">
                <nz-slider [nzMin]="1" [nzMax]="24" [(ngModel)]="labelSize.ngXl.span"></nz-slider>
            </nz-col>
            <div nz-col nzSpan="4">
                <nz-input-number [nzMin]="0" [nzMax]="24" [(ngModel)]="labelSize.ngXl.offset">
                </nz-input-number>
            </div>
        </nz-row>
    </nz-col>

</nz-row>
<nz-row>
    <nz-col nzSpan="24">
        <nz-divider nzText="≥1600px nzXXl" nzPlain nzOrientation="left"></nz-divider>
    </nz-col>
    <nz-col nzSpan="24">
        <nz-row>
            <nz-col nzSpan="4">
                <code>span:</code>
            </nz-col>
            <nz-col nzSpan="10">
                <nz-slider [nzMin]="1" [nzMax]="24" [(ngModel)]="labelSize.nzXXl.span"></nz-slider>
            </nz-col>
            <div nz-col nzSpan="4">
                <nz-input-number [nzMin]="1" [nzMax]="24" [(ngModel)]="labelSize.nzXXl.span">
                </nz-input-number>
            </div>
        </nz-row>
        <nz-row>
            <nz-col nzSpan="4">
                <code>offset:</code>
            </nz-col>
            <nz-col nzSpan="10">
                <nz-slider [nzMin]="1" [nzMax]="24" [(ngModel)]="labelSize.nzXXl.span"></nz-slider>
            </nz-col>
            <div nz-col nzSpan="4">
                <nz-input-number [nzMin]="0" [nzMax]="24" [(ngModel)]="labelSize.nzXXl.offset">
                </nz-input-number>
            </div>
        </nz-row>
    </nz-col>

</nz-row>