<nz-layout>
  <nz-content>
    <ng-container *ngIf="layoutObj.rows">
      <div nz-row [nzGutter]="{ xs: 4, sm: 6, md:4, lg: 16 }" *ngFor="let row of layoutObj.rows">


       
        <div nz-col *ngFor="let c of row.cols" [nzSpan]="c.span" [nzSm]="c.size.nzSm" [nzXs]="c.size.nzXs"
          [nzMd]="c.size.nzMd" [nzLg]="c.size.nzLg" [nzXl]="c.size.nzXl"
          [ngSwitch]="c.container">

          <ng-container *ngSwitchCase="'pageHeader'" CnDynamicLayoutResolverDirective [config]="c.pageHeader"
            [tempData]="tempData" [initData]="initData" [dataServe]="dataServe"></ng-container>

          <nz-card *ngSwitchCase="'tabs'">
            <ng-container CnDynamicLayoutResolverDirective [config]="c.tabs" [tempData]="tempData" [dataServe]="dataServe"
              [initData]="initData">
            </ng-container>
          </nz-card>


          <ng-container *ngSwitchCase="'layout'" CnDynamicLayoutResolverDirective [config]="c.layout" [dataServe]="dataServe"
            [tempData]="tempData" [initData]="initData">
          </ng-container>


          <!-- <nz-card *ngSwitchCase="'component'" [nzBodyStyle]="c.bodyStyle" [nzBordered]="c.noBorder ? false : true"
            [nzTitle]="c.title ? c.title : false" [nzActions]="[actions]">
            <ng-container cnComponentResolverDirective [config]="c.component" [tempData]="tempData"
              [initData]="initData"> </ng-container>
            <ng-template #actions>
              123
              <cn-toolbar style="float: right" *ngIf="c.toolbar" [config]="c.toolbar"></cn-toolbar>
              <div class="clearfix"></div>
            </ng-template>
          </nz-card> -->

          <nz-card *ngIf="c.container!=='rows' && c.container!=='tabs' " [nzBodyStyle]="c.bodyStyle" [nzBordered]="c.noBorder ? false : true"
            [nzTitle]="c.header ? titleTmpl : false" [nzExtra]="c.header ? extraTemplate : false">
            <ng-template #titleTmpl>
                <i nz-icon spin style="font-size:14px" [nzType]="c.header.icon" *ngIf="c.header.icon"></i>
                {{c.header.title}}
              </ng-template>

            <ng-template #extraTemplate>
              <ng-container cnComponentResolverDirective *ngIf="c.header.toolbar" [config]="c.header.toolbar"
               [tempData]="tempData" [initData]="initData" [dataServe]="dataServe">
              </ng-container>
            </ng-template>

              
               
          
            <ng-container cnComponentResolverDirective [config]="c.component" [tempData]="tempData" [dataServe]="dataServe"
              [initData]="initData">
            </ng-container>
          </nz-card>

          <ng-container *ngSwitchCase="'rows'" CnDynamicLayoutResolverDirective [config]="c" [tempData]="tempData"
            [initData]="initData" [dataServe]="dataServe"> 
          </ng-container>

          <!-- <nz-card [ngSwitch]="c.container" >
            
          </nz-card> -->
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="layoutObj.pageHeader" CnDynamicLayoutResolverDirective [config]="layoutObj"
      [initData]="initData" [tempData]="tempData" [dataServe]="dataServe">

    </ng-container>
  </nz-content>
</nz-layout>




<!-- <cn-layout-resolver [initData]="initData" [layoutId]="layoutId" [permissions]="permissions" [config]="c"
[tempValue]="tempValue" (updateValue)="valueChange($event)"></cn-layout-resolver> -->


<!-- <nz-card *ngIf="c.viewCfg" [nzTitle]="c.title ? cardTitle : false" nzBordered="false"
[nzBodyStyle]="c.bodyStyle ? c.bodyStyle : { padding: '8px'}">
<ng-template #cardTitle>
  <ng-container *ngIf="c.titlePaddingleft">
    <span style="padding-left: 16px;">{{ c.title }} </span>
  </ng-container>
  <ng-container *ngIf="!c.titlePaddingleft">
    {{ c.title }}
  </ng-container>

</ng-template>
<div *ngIf="c.handle && c.handle === 'single'; else: elseTemplate">
  <ng-container cnLayoutResolverDirective [layoutId]="layoutId" [config]="c" [permissions]="permissions"
    (updateValue)="valueChange($event)"></ng-container>
</div>
<ng-template #elseTemplate>
  <cn-component-resolver *ngFor="let cfg of c.viewCfg" [layoutId]="layoutId" [permissions]="permissions"
    [config]="cfg" [initData]="initData" [tempValue]="tempValue" (updateValue)="valueChange($event)">
  </cn-component-resolver>
</ng-template>
</nz-card> -->
