<!-- <p>cn-attribute-object works!</p>
<nz-input-group [nzAddOnAfterIcon]="'setting'" [nzAddOnAfter]="addOnAfterTemplate">
    <input type="text" nz-input [(ngModel)]="inputValue" />
  </nz-input-group>
  <ng-template #addOnAfterTemplate>
    <button nz-button nzType="primary" (click)="createModal()">设置</button>
  </ng-template> -->

  <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" style="width: 100%;">
    <input type="text" nz-input  />
  </nz-input-group>
  <ng-template #suffixIconButton>
    <button nz-button nzType="primary" nzSearch (click)="createModal()"><i nz-icon nzType="setting"></i>对象</button>
  </ng-template>