<!-- <p>config-l-row works! {{l_config['title']}}</p> -->

<nz-card *ngIf="showLayout || l_config['showTitle']" nzType="inner" nzTitle="行" (click)="click($event)"
    style="width:100%;border: 1px solid #bfec1b;  padding-right: 4px;" [nzBodyStyle]="{'padding':'1px 2px'}"
    [nzExtra]="extraTemplate" (mousemove)="mousemove($event)" (mouseout)="mouseout($event)">


    <app-config-l-cols [(l_config)]="l_config['cols']" [showLayout]="showLayout" [(selectedItem)]="selectedItem"
        [(cmptState)]="cmptState" [fromDataService]="fromDataService">
    </app-config-l-cols>
    <ng-template #extraTemplate>

        <ng-container *ngIf="optionState">

            <button nz-button [nzSize]="'small'" nzTitle="删除列" nz-tooltip (click)="del()">
                <i nz-icon nzType="delete"></i>
            </button>

        </ng-container>
        <ng-container *ngIf="!optionState">

            <button nz-button [nzSize]="'small'" nzTitle="删除列" nz-tooltip>
                <i nz-icon nzType="stop" nzTheme="outline"></i>
            </button>

        </ng-container>


    </ng-template>
</nz-card>

<div *ngIf="!showLayout && !l_config['showTitle']">
    <app-config-l-cols [(l_config)]="l_config['cols']" [showLayout]="showLayout" [(selectedItem)]="selectedItem"
        [(cmptState)]="cmptState" [fromDataService]="fromDataService">
    </app-config-l-cols>

</div>