<nz-divider nzDashed [nzText]="text">
    <ng-template #text><i nz-icon nzType="plus"></i> 表单可视化</ng-template>
</nz-divider>
<div nz-row>
    <div nz-col nzFlex="0 1 250px" style="background-color:coral;">1 1 200px</div>
    <div nz-col nzFlex="auto">

    </div>
    <div nz-col nzFlex="0 1 400px" style="background-color:lightgreen;">0 1 300px


    </div>
</div>

<nz-layout style="background-color: white;">
    <nz-header>
        <nz-steps [nzCurrent]="index" (nzIndexChange)="onIndexChange($event)">
            <nz-step nzTitle="布局" [nzDisabled]="disable" nzDescription="设置表单布局."></nz-step>
            <nz-step nzTitle="编辑状态" nzDescription="编辑状态下的设置."></nz-step>
            <nz-step nzTitle="文本状态" nzDescription="文本状态下的设置."></nz-step>

        </nz-steps>



    </nz-header>
    <nz-content>
        <div nz-row style="max-height: 1000px;" nzAlign="top">
            <div nz-col nzFlex="0 1 250px">
                <app-cfg-l-form-sider #child1 [layout_nodes]="layout_nodes" [(selectedItem)]="selectedItem"
                    [fromDataService]="fromDataService">
                </app-cfg-l-form-sider>
                <ng-container *ngIf="Flex==='250px'">



                </ng-container>
                <ng-container *ngIf="Flex==='60px'">


                </ng-container>
            </div>
            <div nz-col nzFlex="auto" #content>


                <div style="width: 100%;">

                    <nz-button-group>
                        <button nz-button [nzSize]="'small'" nzType="primary" nzTitle="预览页面结构" (click)="PreviewLayout()"
                            nz-tooltip>
                            <i nz-icon nzType="folder-view" nzTheme="outline"></i>
                            视图</button>
                        <button nz-button [nzSize]="'small'" nzTitle="预览页面结构" (click)="PreviewLayout()" nz-tooltip>
                            <i nz-icon nzType="eye" nzTheme="outline"></i>
                            预览</button>
                    </nz-button-group>


                    <nz-switch [(ngModel)]="showLayout" nzCheckedChildren="布局" nzUnCheckedChildren="组件"
                        style="margin-left: 7px;">
                    </nz-switch>
                    缩放比例：
                    <nz-select [ngModel]="selectedValue" (ngModelChange)="sizeChange($event)" style="width: 70px;">
                        <nz-option nzValue="2" nzLabel="200%"></nz-option>
                        <nz-option nzValue="1.5" nzLabel="150%"></nz-option>
                        <nz-option nzValue="1.2" nzLabel="120%"></nz-option>
                        <nz-option nzValue="1.1" nzLabel="110%"></nz-option>
                        <nz-option nzValue="1" nzLabel="100%"></nz-option>
                        <nz-option nzValue="0.9" nzLabel="90%"></nz-option>
                        <nz-option nzValue="0.8" nzLabel="80%"></nz-option>
                        <nz-option nzValue="0.75" nzLabel="75%"></nz-option>
                        <nz-option nzValue="0.7" nzLabel="70%"></nz-option>
                        <nz-option nzValue="0.6" nzLabel="60%"></nz-option>
                        <nz-option nzValue="0.5" nzLabel="50%"></nz-option>

                    </nz-select>

                    设备：
                    <nz-button-group>
                        <button nz-button [nzSize]="'small'" (click)="c_size_click('sFILL')" [nzType]="c_size['sFILL']">
                            FILL</button>
                        <button nz-button [nzSize]="'small'" (click)="c_size_click('s1600')" [nzType]="c_size['s1600']">
                            1600px</button>
                        <button nz-button [nzSize]="'small'" (click)="c_size_click('s1200')" [nzType]="c_size['s1200']">
                            1200px</button>
                        <button nz-button [nzSize]="'small'" (click)="c_size_click('s768')" [nzType]="c_size['s768']">
                            768px</button>
                    </nz-button-group>
                    <button nz-button style="margin-left: 8px;" [nzSize]="'small'" nzType="primary" nzTitle="预览页面结构"
                        (click)="PreviewLayout()" nz-tooltip>
                        <i nz-icon nzType="save" nzTheme="outline"></i>保存</button>


                </div>

                <!--    [nzTitle]="extraT" [nzExtra]="extraE" -->
                <nz-card [nzBodyStyle]="{'padding':'1px 2px','overflow':'auto'
                
                }">
                    <div [ngStyle]="div_style">

                        <div [ngStyle]="sizeStyle">
                            <!--  style="max-width: 1680px;min-width: 1680px;position: absolute" -->
                            <div [ngStyle]="div_container_style">

                                <!--     <app-config-l-layout #child0 [(selectedItem)]="selectedItem" [(showLayout)]="showLayout"
                                    [(cmptState)]="cmptState" [fromDataService]="fromDataService">
                                </app-config-l-layout> -->
                                <cfg-form-layout #child0 [(selectedItem)]="selectedItem" [(showLayout)]="showLayout"
                                    [(cmptState)]="cmptState" [fromDataService]="fromDataService"></cfg-form-layout>

                            </div>
                            <!--    #/passport/login  -->
                            <!--    <iframe style="width: 700px; height: 1000px;" src="#/passport/login"></iframe> -->

                        </div>
                    </div>


                </nz-card>


            </div>
            <div nz-col nzFlex="0 1 400px" style="max-height:680px;overflow:auto">
                <app-cfg-l-form-attr-sider #child2 [(selectedItem)]="selectedItem" [fromDataService]="fromDataService">
                </app-cfg-l-form-attr-sider>

            </div>


        </div>
    </nz-content>
    <nz-footer>Footer

    </nz-footer>
</nz-layout>

<app-cfg-l-form-select-parameter></app-cfg-l-form-select-parameter>

<app-cn-static-form></app-cn-static-form>