<nz-card [nzBordered]="false" nzTitle="级联配置测试">
</nz-card>

<nz-collapse>
    <nz-collapse-panel *ngFor="let panel of panels;let i = index" [nzHeader]="sendHeader" [nzActive]="false"
        [nzExtra]="sendExtraTpl">
        <ng-template #sendHeader>
            <label>{{panel.name}}</label>
            <nz-badge nzStandalone [nzCount]="panel.count"></nz-badge>
        </ng-template>
        <ng-template #sendExtraTpl>
            <button nz-button nzType="primary" (click)="addItem(panel[KEY_ID])">添加接收组件</button>
        </ng-template>
        <div *ngIf="panel.children.length > 0">
            <nz-collapse>
                <nz-collapse-panel *ngFor="let childPanel of panel.children;let i = index" [nzHeader]="receiverHeader"
                    [nzActive]="false">
                    <ng-template #receiverHeader>
                        <label>{{childPanel.name}}</label>
                        <!-- <nz-badge nzStandalone [nzCount]="childPanel.count">
                        </nz-badge> -->
                    </ng-template>
                    <ng-container *ngIf="childPanel.parentId === panel.Id">
                        <app-cfg-attribute-cascade-receiver [panelId]="childPanel.Id" [panelName]="childPanel.name"
                            [config]="config" (updateValue)="valueChange($event)">
                        </app-cfg-attribute-cascade-receiver>
                    </ng-container>

                </nz-collapse-panel>
            </nz-collapse>
        </div>
    </nz-collapse-panel>
</nz-collapse>
<nz-modal [(nzVisible)]="isVisible" nzTitle="接收配置" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzWidth="600">
    <ng-container *nzModalContent>
        <form nz-form [formGroup]="form">
            <nz-form-item>
                <nz-form-label [nzSpan]="4" nzFor="email">组件名</nz-form-label>
                <nz-form-control [nzSpan]="20">
                    <input nz-input formControlName="receiverCompName" type="text" id="receiverCompName">
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
</nz-modal>