<!-- <ng-container *ngIf="l_config && l_config['container']==='rows">
    <app-config-l-rows [(l_config)]="l_config['rows']"></app-config-l-rows>
</ng-container> -->

<nz-card nzType="inner" nzTitle="初始化布局" style="width:100%;border: 1px solid #0ddaf5;  padding-right: 4px;"
    [nzBodyStyle]="{'padding':'1px 2px'}">
    行：<input nz-input placeholder="行" [(ngModel)]="layout_row" style="width: 60px;" />
    列：<input nz-input placeholder="行" [(ngModel)]="layout_col" style="width: 60px;" />
    列大小：<input nz-input placeholder="列大小" [(ngModel)]="layout_col_size" style="width: 60px;" />
    <button nz-button style="margin-left: 8px;" [nzSize]="'small'" nzType="primary" (click)="CreateLayout()">
        生成布局</button>
</nz-card>


<!-- <nz-switch [(ngModel)]="showLayout" nzCheckedChildren="布局" nzUnCheckedChildren="组件" style="margin-left: 7px;">
</nz-switch> 
<button nz-button style="margin-left: 8px;" [nzSize]="'small'" nzType="primary" nzTitle="预览页面结构"
    (click)="PreviewLayout()" nz-tooltip>
    <i nz-icon nzType="save" nzTheme="outline"></i>保存/输出json</button>
    -->

<div nz-row>
    <!-- <div nz-col nzFlex="400px" style="height: 800px; background-color: crimson;">表单【布局】/【表单组件】
        <nz-card nzType="inner" [nzBodyStyle]="{'padding':'1px 2px','max-height':'390px','overflow':'auto'}">
            <nz-tree [nzData]="layout_nodes" nzExpandAll="true" nzShowLine="true"> </nz-tree>
        </nz-card>

    </div> -->
    <div nz-col nzFlex="auto">

        <nz-card nzType="inner" nzTitle="布局" style="width:100%;border: 1px solid #0ddaf5;  padding-right: 4px;"
            [nzBodyStyle]="{'padding':'1px 2px'}">
            <app-config-l-rows [(l_config)]="l_config['rows']" [showLayout]="showLayout" [(selectedItem)]="selectedItem"
                [(cmptState)]="cmptState" [fromDataService]="fromDataService"></app-config-l-rows>

        </nz-card>
    </div>
</div>


<!-- 测试 -->
<div style="display: none;">


    <div>
        <div class="example-box" cdkDragLockAxis="y" cdkDrag>
            I can only be dragged up/down
        </div>

        <div class="example-box" cdkDragLockAxis="x" cdkDrag>
            I can only be dragged left/right
        </div>
    </div>
    <div class="example-boundary">
        <div class="example-box" cdkDrag>
            I can only be dragged within the dotted container
        </div>
    </div>

    <nz-table [nzData]="listOfData" [nzFrontPagination]="false" [nzShowPagination]="false">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody cdkDropList (cdkDropListDropped)="drop($event)">
            <tr *ngFor="let data of listOfData" cdkDrag>
                <td>{{ data.name }}</td>
                <td>{{ data.age }}</td>
                <td>{{ data.address }}</td>
            </tr>
        </tbody>
    </nz-table>
</div>