<ul *ngIf="menuMode === 'normal'; else cardMenu" nz-menu nzMode="inline" [nzInlineCollapsed]="layoutCollapsed">
  
  <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: list }"></ng-container>
  <ng-template #menuTpl let-menus>
    <ng-container *ngFor="let menu of menus">
          <li
            *ngIf="menu.children && menu.children.length > 0; else tmplLeafMenu"
            nz-submenu
            [nzPaddingLeft]="menu.LEVEL  * 24 + 24"
            [nzTitle]="menu.NAME"
            [nzIcon]="menu.ICON ? menu.ICON.value : ''"

          >
          <!-- <i nz-ICON [nzType]="menu.ICON" *ngIf="menu.ICON"></i> -->
            <ul>
              <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children }"></ng-container>
            </ul>
          </li>


          <ng-template #tmplLeafMenu>
            <li nz-menu-item [nzPaddingLeft]="menu.LEVEL ? menu.LEVEL * 24 + 24 : 48"
                (click)="onClick(menu)">
                <span title>
                  <i nz-icon [nzType]="menu.ICON.value" *ngIf="menu.ICON" [nzTheme]="'outline'"></i>
                  <span>{{ menu.NAME }}</span>
                </span>
              </li>
          </ng-template>
    </ng-container>
  </ng-template>
</ul>

<ng-template #cardMenu>
<ul nz-menu nzMode="vertical" [nzInlineCollapsed]="layoutCollapsed">
  <ng-container *ngTemplateOutlet="menuTemplate; context: { $implicit: list }"></ng-container>
  <ng-template #menuTemplate let-menus>
    <ng-container *ngFor="let menu of menus">
      <li nz-submenu nz-popover *ngIf="menu.status === 2" [nzPopoverContent]="contentTemplate"
         [nzTitle]="titleTemplate" [nzPopoverTitle]="titleTemplate2" [nzIcon]="menu.ICON.value">
        <ng-template #titleTemplate>
          <span style="font-size:14px;">{{menu.NAME}}</span>
        </ng-template>
        <ng-template #titleTemplate2>
        </ng-template>
        <ng-template #contentTemplate>
          <div nz-row [nzGutter]="16">
            <div style="min-width: 150px; max-width: 200px;" *ngFor="let group of menu.children" nz-col [nzSpan]="menu.children.length > 1 ? 12 : 24">
              <nz-card *ngIf="group.status === 2" [nzTitle]="ctitle"
                nzBordered="false">
                <!-- <article nz-typography>
                  <ul>
                    <li (click)="onClick(link)" *ngFor="let link of group.children">
                      <a style="display: block"><span nz-text nzType="secondary">{{link.text}}</span></a>
                    </li>
                  </ul>
                </article> 
                -->
                <nz-list [nzDataSource]="group.children" [nzRenderItem]="renderItemTpl" nzSize="small" nzSplit="false">
                  <ng-template #renderItemTpl let-item>
                    <nz-list-item *ngIf="item.status === 2" (click)="onClick(item)">
                      <a style="display: block;min-width: 150px; max-width: 200px;"><span nz-text nzType="secondary"> {{ item.NAME }}</span></a>
                    </nz-list-item>
                  </ng-template>

                </nz-list>

                <ng-template #ctitle>
                  <i *ngIf="group.ICON" nz-icon [nzType]="group.ICON.value"></i> {{group.NAME}}
                </ng-template>
              </nz-card>
            </div>
          </div>
        </ng-template>
      </li>
    </ng-container>
  </ng-template>
</ul>
</ng-template>
