<ng-container>
    <nz-form-item>
        <nz-form-label [nzSpan]="config.labelSize.span" [nzSm]="config.labelSize.nzSm" [nzXs]="config.labelSize.nzXs"
        [nzMd]="config.labelSize.nzMd" [nzLg]="config.labelSize.nzLg" [nzXl]="config.labelSize.nzXl"
        [nzTooltipTitle]="config.labelTooltipTitle" [nzTooltipIcon]="config.labelTooltipIcon">
        {{config.title}}
    </nz-form-label>
        <nz-form-control [formGroup]="validateForm" [nzSpan]="config.controlSize.span" [nzSm]="config.controlSize.nzSm"
        [nzXs]="config.controlSize.nzXs" [nzMd]="config.controlSize.nzMd" [nzLg]="config.controlSize.nzLg"
        [nzXl]="config.controlSize.nzXl" [nzErrorTip]="combineTpl" nzHasFeedback>
        <ng-container *ngIf="config.displayMode ==='wrapper'">
            <nz-checkbox-wrapper style="width: 100%;" [formControlName]="config.field" (nzOnChange)="checkedChange($event)">
                <div nz-row>
                    <div nz-col [nzSpan]="config.span" *ngFor="let c of this.bindObj.options">
                        <label nz-checkbox [nzValue]="c['value']" [ngModel]="c['checked']"
                            [ngModelOptions]="{standalone: true}">{{c['label']}}</label>
                    </div>
                </div>
            </nz-checkbox-wrapper>
        </ng-container>
        <ng-container *ngIf="config.displayMode !=='wrapper'">
            <nz-checkbox-group [(ngModel)]="this.bindObj.options" [formControlName]="config.field"></nz-checkbox-group>
        </ng-container>
    </nz-form-control>
    </nz-form-item>
    <ng-template #combineTpl let-control></ng-template>
</ng-container>