<!-- <nz-button-group *ngIf="innerToolbars">
  <button *ngFor="let btn of outerToolbars" nz-button (click)="btnClick(btn)" [nzType]="btn.style" nzBlock="true">
    <span style="font-size:1em"><i style="font-size:1em" nz-icon [nzType]="btn.icon"></i> {{btn.title}}</span>
  </button>
</nz-button-group> -->

<nz-list [nzLoading]="false" [nzDataSource]="list" [nzRenderItem]="item" [nzSize]="config.size"
  [nzPagination]="pagination" [nzGrid]="config.gutter">
  <ng-template #item let-item>
    <nz-list-item>
      <div *ngIf="innerToolbars && item === null">
        <button *ngFor="let btn of outerToolbars" nz-button (click)="btnClick(btn, item)" [nzType]="btn.style"
          style="width: 100%; min-height: 180px;">
          <span style="font-size:1em"><i style="font-size:1em" nz-icon [nzType]="btn.icon"></i> {{ btn.title }}</span>
        </button>
      </div>
      <nz-card nzHoverable *ngIf="item !== null" [nzActions]="innerToolbars && [op1, op2, op3]"
        [ngClass]="{'new_item': (item.state && item.state === 'new'), 'edit_item': (item.state && item.state === 'edit')}">
        <!--操作模版-->
        <ng-template #op1>
          <a (click)="btnClick(innerToolbars[0], item)"><i nz-icon [nzType]="innerToolbars[0].icon"></i></a>
        </ng-template>
        <ng-template #op2>
          <a (click)="btnClick(innerToolbars[1], item)"><i nz-icon [nzType]="innerToolbars[1].icon"></i></a>
        </ng-template>
        <ng-template #op3>
          <a nz-dropdown [nzDropdownMenu]="menu">
            <i nz-icon nzType="ellipsis"></i>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item *ngFor="let act of innerToolbars" (click)="btnClick(act, item)">{{ act.title }}</li>
            </ul>
          </nz-dropdown-menu>
        </ng-template>
        <!--操作模版-->

        <!--列表模版-->
        <nz-card-meta [nzAvatar]="nzAvatar" [nzTitle]="nzTitle" [nzDescription]="nzDescription">
          <ng-template #nzAvatar>
            <nz-avatar nzSize="large" [nzSrc]="'../../../../assets/tmp/img/' + item.avatar"></nz-avatar>
          </ng-template>
          <ng-template #nzTitle>
            <a>{{ item.title }}</a>
          </ng-template>
          <ng-template #nzDescription>
            <ellipsis>
              {{ item.desc }}
            </ellipsis>
            <div nz-row *ngIf="item.extra && item.extra.length > 0">
              <div nz-col *ngFor="let extra of item.extra" [nzSpan]="extra.span" [ngStyle]="{ 'margin-bottom': '5px' }">
                <span *ngIf="extra.label">{{ extra.label }}: </span>
                <ng-container [ngSwitch]="extra.type">
                  <nz-tag *ngSwitchCase="'tag'" [nzColor]="extra.color">{{ extra.value }}</nz-tag>
                  <span *ngSwitchCase="'text'">{{ extra.value }}</span>
                </ng-container>
              </div>
            </div>
          </ng-template>
        </nz-card-meta>
        <!--列表模版-->
      </nz-card>
    </nz-list-item>
  </ng-template>

  <ng-template #pagination>
    <nz-pagination [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="searchData()" (nzPageSizeChange)="searchData(true)"
      [nzPageSizeOptions]="config.pageSizeOptions"></nz-pagination>
  </ng-template>
</nz-list>
