<p>
  liu-layout-card works!
</p>
<nz-card nzTitle="行" style="width:100%;" [nzExtra]="extraTemplate">
  <button nz-button [nzSize]="'small'" nzType="primary"> <i nz-icon nzType="drag"></i></button>
  <button nz-button [nzSize]="'small'" nzType="primary"> <i nz-icon nzType="setting"></i></button>
  <button nz-button [nzSize]="'small'" nzType="primary"> <i nz-icon nzType="delete"></i></button>
  <button nz-button [nzSize]="'small'" nzType="primary"> <i nz-icon nzType="minus"></i></button>
  <button nz-button [nzSize]="'small'" nzType="primary"> <i nz-icon nzType="plus"></i></button>

</nz-card>
<ng-template #extraTemplate>
  <button nz-button [nzSize]="'small'" nzType="primary" nzTitle="移动" nz-tooltip> <i nz-icon nzType="drag"></i></button>
  <button nz-button [nzSize]="'small'" nzType="primary" nzTitle="设置" nz-tooltip> <i nz-icon
      nzType="setting"></i></button>
  <button nz-button [nzSize]="'small'" nzType="primary" nzTitle="删除" nz-tooltip> <i nz-icon
      nzType="delete"></i></button>
  <button nz-button [nzSize]="'small'" nzType="primary" nzTitle="减少列的栅格宽度" nz-tooltip> <i nz-icon
      nzType="minus"></i></button>
  <button nz-button [nzSize]="'small'" nzType="primary" nzTitle="增加列的栅格宽度" nz-tooltip> <i nz-icon
      nzType="plus"></i></button>
  <button nz-button [nzSize]="'small'" nzType="primary" nzTitle="添加行" nz-tooltip nzShape="circle"> <i nz-icon
      nzType="plus"></i></button>
</ng-template>