<nz-collapse *ngIf="!config.componentConfig['mode'] ||config.componentConfig['mode']==='collapse' ">
    <nz-collapse-panel [nzHeader]="config['title']">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </nz-collapse-panel>
</nz-collapse>
<div *ngIf="config.componentConfig['mode']==='empty'">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</div>
<nz-card nzType="inner" [nzTitle]="config['title']" *ngIf=" config.componentConfig['mode']==='card'">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</nz-card>



<ng-template #content>
    <button
        [hidden]="config.componentConfig['defaultActionAddHidden']?config.componentConfig['defaultActionAddHidden']:false"
        nz-button type="button" nzType="dashed" nzBlock="true" nzSize="default" style="margin-bottom: 3px;"
        (click)="add()"><i nz-icon nzType="plus"></i>
        添加</button>
    <nz-table #basicTable [nzData]="dataList" nzShowPagination="false">
        <thead>
            <tr>
                <ng-container *ngFor="let r_arr of  config['properties'];let i1 = index;">

                    <th [hidden]="r_arr['hidden']">{{r_arr['title']}}</th>

                </ng-container>
                <th
                    [hidden]="config.componentConfig['defaultActionDeleteHidden']?config.componentConfig['defaultActionDeleteHidden']:false">
                    操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of validateFormArray.controls;let i = index;">
                <ng-container *ngFor="let r_arr of  config['properties'];let i1 = index;">
                    <td [hidden]="r_arr['hidden']">
                        <ng-container CnStaticFormItemDirective [validateForm]="item" [config]="r_arr"
                            [fromDataService]="fromDataService">
                        </ng-container>
                    </td>
                </ng-container>
                <td
                    [hidden]="config.componentConfig['defaultActionDeleteHidden']?config.componentConfig['defaultActionDeleteHidden']:false">
                    <button nz-button nzType="primary" (click)="delItem(i)">删除</button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</ng-template>