<nz-card nzBordered="false" [nzTitle]="componentConfig.showTitle ? titleTmpl : false"
    [nzExtra]="componentConfig.header ? extraTemplate : false">
    <ng-template #titleTmpl>
        <!-- <i nz-icon spin style="font-size:14px" [nzType]="col.header.icon" *ngIf="col.header.icon"></i> -->
        {{componentConfig.title}}
    </ng-template>

    <ng-template #extraTemplate>
        <div *ngFor="let cmp of config.children">
            <div *ngIf="cmp.type === 'cnToolbar'">
                <!-- <div *ngFor="let cmpt of cmp.children">{{cmp.children.length}} -->
                <ng-container smtComponentResolverDirective [config]="cmp" [tempData]="tempData" [initData]="initData"
                    [dataServe]="dataServe">
                </ng-container>
                <!-- </div> -->
            </div>
        </div>

    </ng-template>

    <div>
        <ng-container smtComponentResolverDirective [config]="config" [tempData]="tempData" [dataServe]="dataServe"
            [initData]="initData">
        </ng-container>
    </div>
</nz-card>