<div style=" background-color: #fff">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <div nz-row [nzGutter]="12" *ngFor="let r of layoutRowsCfg">
      <div nz-col [nzSpan]="c.span" [nzSm]="c.size.nzSm" [nzXs]="c.size.nzXs" [nzMd]="c.size.nzMd" [nzLg]="c.size.nzLg"
        [nzXl]="c.size.nzXl" *ngFor="let c of r.cols" [ngStyle]="{'display': c.display ? c.display : null}">
        <ng-container CnFormItemDirective [formGroup]="validateForm" [formCascade]="formCascade[c.control.id]"
          [config]="formControlObj[c.control.id]" [formState]="FORM_STATE" (updateValue)="valueChange($event)"
          [tempData]="tempValue" [initData]="initValue" [dialogsConfig]="dialogsConfig">
        </ng-container>
      </div>
    </div>


    <footer-toolbar errorCollect="true" *ngIf="config.toolbar">
      <cn-toolbar style="float: right" [config]="config.toolbar"></cn-toolbar>
    </footer-toolbar>
  </form>
</div>