<nz-card *ngIf="attribute_config['item'] && attribute_config['active']==='col'&& attribute_config['item'].span"
    nzTitle="栅格设置" nzType="inner" [nzBodyStyle]="{'padding':'2px 2px'}">
    <nz-row>
        <nz-col nzSpan="8">
            nzSpan:
        </nz-col>
        <nz-col nzSpan="10">
            <nz-slider [nzMin]="1" [nzMax]="24" [(ngModel)]="attribute_config['item'].span"></nz-slider>
        </nz-col>
        <div nz-col nzSpan="4">
            <nz-input-number [nzMin]="1" [nzMax]="24" [(ngModel)]="attribute_config['item'].span"></nz-input-number>
        </div>
    </nz-row>
    <nz-row>
        <nz-col nzSpan="8">
            <code>&lt;576px nzXs:</code>
        </nz-col>
        <nz-col nzSpan="10">
            <nz-slider [nzMin]="1" [nzMax]="24" [(ngModel)]="attribute_config['item'].size.nzXs"></nz-slider>
        </nz-col>
        <div nz-col nzSpan="4">
            <nz-input-number [nzMin]="1" [nzMax]="24" [(ngModel)]="attribute_config['item'].size.nzXs">
            </nz-input-number>
        </div>
    </nz-row>
    <nz-row>
        <nz-col nzSpan="8">
            <code>≥576px nzSm:</code>
        </nz-col>
        <nz-col nzSpan="10">
            <nz-slider [nzMin]="1" [nzMax]="24" [(ngModel)]="attribute_config['item'].size.nzSm"></nz-slider>
        </nz-col>
        <div nz-col nzSpan="4">
            <nz-input-number [nzMin]="1" [nzMax]="24" [(ngModel)]="attribute_config['item'].size.nzSm">
            </nz-input-number>
        </div>
    </nz-row>
    <nz-row>
        <nz-col nzSpan="8">
            <code>≥768px nzMd:</code>
        </nz-col>
        <nz-col nzSpan="10">
            <nz-slider [nzMin]="1" [nzMax]="24" [(ngModel)]="attribute_config['item'].size.nzMd"></nz-slider>
        </nz-col>
        <div nz-col nzSpan="4">
            <nz-input-number [nzMin]="1" [nzMax]="24" [(ngModel)]="attribute_config['item'].size.nzMd">
            </nz-input-number>
        </div>
    </nz-row>
    <nz-row>
        <nz-col nzSpan="8">
            <code>≥992px nzLg:</code>
        </nz-col>
        <nz-col nzSpan="10">
            <nz-slider [nzMin]="1" [nzMax]="24" [(ngModel)]="attribute_config['item'].size.nzLg"></nz-slider>
        </nz-col>
        <div nz-col nzSpan="4">
            <nz-input-number [nzMin]="1" [nzMax]="24" [(ngModel)]="attribute_config['item'].size.nzLg">
            </nz-input-number>
        </div>
    </nz-row>
    <nz-row>
        <nz-col nzSpan="8">
            <code>≥1200px ngXl:</code>
        </nz-col>
        <nz-col nzSpan="10">
            <nz-slider [nzMin]="1" [nzMax]="24" [(ngModel)]="attribute_config['item'].size.ngXl"></nz-slider>
        </nz-col>
        <div nz-col nzSpan="4">
            <nz-input-number [nzMin]="1" [nzMax]="24" [(ngModel)]="attribute_config['item'].size.ngXl">
            </nz-input-number>
        </div>
    </nz-row>
    <nz-row>
        <nz-col nzSpan="8">
            <code>≥1600px nzXXl:</code>
        </nz-col>
        <nz-col nzSpan="10">
            <nz-slider [nzMin]="1" [nzMax]="24" [(ngModel)]="attribute_config['item'].size.nzXXl"></nz-slider>
        </nz-col>
        <div nz-col nzSpan="4">
            <nz-input-number [nzMin]="1" [nzMax]="24" [(ngModel)]="attribute_config['item'].size.nzXXl">
            </nz-input-number>
        </div>
    </nz-row>
</nz-card>
<nz-card *ngIf="attribute_config['item'] && attribute_config['active']==='col'" nzTitle="基本设置" nzType="inner"
    [nzBodyStyle]="{'padding':'2px 2px'}">

    <nz-row>
        <nz-col nzSpan="8">
            <code>宽度:</code>
        </nz-col>

        <div nz-col nzSpan="10">
            <nz-input-number [nzMin]="0" [nzMax]="2000" style="width: 100%;">
            </nz-input-number>
        </div>
        <div nz-col nzSpan="4">
            <nz-select ngModel="px">
                <nz-option nzValue="px" nzLabel="px"></nz-option>
                <nz-option nzValue="%" nzLabel="百分比"></nz-option>
                <nz-option nzValue="em" nzLabel="em"></nz-option>
            </nz-select>
        </div>

    </nz-row>
    <nz-row>
        <nz-col nzSpan="8">
            <code>高度:</code>
        </nz-col>

        <div nz-col nzSpan="10">
            <nz-input-number [nzMin]="0" [nzMax]="2000" style="width: 100%;">
            </nz-input-number>
        </div>
        <div nz-col nzSpan="4">
            <nz-select ngModel="px">
                <nz-option nzValue="px" nzLabel="px"></nz-option>
                <nz-option nzValue="%" nzLabel="百分比"></nz-option>
                <nz-option nzValue="em" nzLabel="em"></nz-option>
            </nz-select>
        </div>
    </nz-row>
    <nz-row>
        <nz-col nzSpan="8">
            <code>最大宽度:</code>
        </nz-col>

        <div nz-col nzSpan="10">
            <nz-input-number [nzMin]="0" [nzMax]="2000" style="width: 100%;">
            </nz-input-number>
        </div>
        <div nz-col nzSpan="4">
            <nz-select ngModel="px">
                <nz-option nzValue="px" nzLabel="px"></nz-option>
                <nz-option nzValue="%" nzLabel="百分比"></nz-option>
                <nz-option nzValue="em" nzLabel="em"></nz-option>
            </nz-select>
        </div>
    </nz-row>
    <nz-row>
        <nz-col nzSpan="8">
            <code>最大高度:</code>
        </nz-col>

        <div nz-col nzSpan="10">
            <nz-input-number [nzMin]="0" [nzMax]="2000" style="width: 100%;">
            </nz-input-number>
        </div>
        <div nz-col nzSpan="4">
            <nz-select ngModel="px">
                <nz-option nzValue="px" nzLabel="px"></nz-option>
                <nz-option nzValue="%" nzLabel="百分比"></nz-option>
                <nz-option nzValue="em" nzLabel="em"></nz-option>
            </nz-select>
        </div>
    </nz-row>
    <nz-row>
        <nz-col nzSpan="8">
            <code>最小宽度:</code>
        </nz-col>

        <div nz-col nzSpan="10">
            <nz-input-number [nzMin]="0" [nzMax]="2000" style="width: 100%;">
            </nz-input-number>
        </div>
        <div nz-col nzSpan="4">
            <nz-select ngModel="px">
                <nz-option nzValue="px" nzLabel="px"></nz-option>
                <nz-option nzValue="%" nzLabel="百分比"></nz-option>
                <nz-option nzValue="em" nzLabel="em"></nz-option>
            </nz-select>
        </div>
    </nz-row>
    <nz-row>
        <nz-col nzSpan="8">
            <code>最小高度:</code>
        </nz-col>

        <div nz-col nzSpan="10">
            <nz-input-number [nzMin]="0" [nzMax]="2000" style="width: 100%;">
            </nz-input-number>
        </div>
        <div nz-col nzSpan="4">
            <nz-select ngModel="px">
                <nz-option nzValue="px" nzLabel="px"></nz-option>
                <nz-option nzValue="%" nzLabel="百分比"></nz-option>
                <nz-option nzValue="em" nzLabel="em"></nz-option>
            </nz-select>
        </div>
    </nz-row>
    <nz-row>
        <nz-col nzSpan="8">
            <code>x轴滚动:</code>
        </nz-col>


        <div nz-col nzSpan="8">
            <nz-select ngModel="auto" style="width: 100%;">
                <nz-option nzValue="auto" nzLabel="auto"></nz-option>
                <nz-option nzValue="visible" nzLabel="visible"></nz-option>
                <nz-option nzValue="hidden" nzLabel="hidden"></nz-option>
                <nz-option nzValue="scroll" nzLabel="scroll"></nz-option>
                <nz-option nzValue="no-display" nzLabel="no-display"></nz-option>
                <nz-option nzValue="no-content" nzLabel="no-content"></nz-option>
            </nz-select>
        </div>

    </nz-row>
    <nz-row>
        <nz-col nzSpan="8">
            <code>y轴滚动:</code>
        </nz-col>


        <div nz-col nzSpan="8">
            <nz-select ngModel="auto" style="width: 100%;">
                <nz-option nzValue="auto" nzLabel="auto"></nz-option>
                <nz-option nzValue="visible" nzLabel="visible"></nz-option>
                <nz-option nzValue="hidden" nzLabel="hidden"></nz-option>
                <nz-option nzValue="scroll" nzLabel="scroll"></nz-option>
                <nz-option nzValue="no-display" nzLabel="no-display"></nz-option>
                <nz-option nzValue="no-content" nzLabel="no-content"></nz-option>
            </nz-select>
        </div>

    </nz-row>

    <nz-row>
        <nz-col nzSpan="8">
            <code>偏移 上:</code>
        </nz-col>
        <nz-col nzSpan="10">
            <nz-slider [nzMin]="-500" [nzMax]="500" [(ngModel)]="attribute_style['margin-top']"></nz-slider>
        </nz-col>
        <div nz-col nzSpan="4">
            <nz-input-number [nzMin]="-500" [nzMax]="500" [(ngModel)]="attribute_style['margin-top']">
            </nz-input-number>
        </div>
    </nz-row>
    <nz-row>
        <nz-col nzSpan="8">
            <code>偏移 右:</code>
        </nz-col>
        <nz-col nzSpan="10">
            <nz-slider [nzMin]="-500" [nzMax]="500" [(ngModel)]="attribute_style['margin-right']"></nz-slider>
        </nz-col>
        <div nz-col nzSpan="4">
            <nz-input-number [nzMin]="-500" [nzMax]="500" [(ngModel)]="attribute_style['margin-right']">
            </nz-input-number>
        </div>
    </nz-row>
    <nz-row>
        <nz-col nzSpan="8">
            <code>偏移 下:</code>
        </nz-col>
        <nz-col nzSpan="10">
            <nz-slider [nzMin]="-500" [nzMax]="500" [(ngModel)]="attribute_style['margin-bottom']"></nz-slider>
        </nz-col>
        <div nz-col nzSpan="4">
            <nz-input-number [nzMin]="-500" [nzMax]="500" [(ngModel)]="attribute_style['margin-bottom']">
            </nz-input-number>
        </div>
    </nz-row>
    <nz-row>
        <nz-col nzSpan="8">
            <code>偏移 左:</code>
        </nz-col>
        <nz-col nzSpan="10">
            <nz-slider [nzMin]="-500" [nzMax]="500" [(ngModel)]="attribute_style['margin-left']"></nz-slider>
        </nz-col>
        <div nz-col nzSpan="4">
            <nz-input-number [nzMin]="-500" [nzMax]="500" [(ngModel)]="attribute_style['margin-left']">
            </nz-input-number>
        </div>
    </nz-row>

</nz-card>

<button nz-button style="margin-left: 8px;" [nzSize]="'small'" nzType="primary" nzTitle="预览页面结构"
    (click)="PreviewLayout()" nz-tooltip>
    <i nz-icon nzType="save" nzTheme="outline"></i>测试</button>