<p>cn-static-form-command works!</p>
<nz-card nzType="inner" nzTitle="命令信息" [nzExtra]="delextraTemplate" style="width:100%;padding-right: 4px;"
    [nzBodyStyle]="{'padding':'1px 2px'}">
    <app-cn-static-form #staticForm [config]="_form_config" [staticData]="sourceData1"
        [fromDataService]="fromDataService" (updateValue)="staticFormValueChange($event)">
    </app-cn-static-form>
</nz-card>
<ng-template #delextraTemplate let-i>
    <button nz-button nzType="primary" (click)="resetForm()">重置</button>
</ng-template>

<nz-card nzType="inner" nzTitle="页面信息" style="width:100%;padding-right: 4px;" [nzBodyStyle]="{'padding':'1px 2px'}">
    <app-cn-static-form #staticFormPage [config]="_form_page_config" [staticData]="sourceDataPage"
        [fromDataService]="fromDataService" (updateValue)="staticFormPageValueChange($event)">
    </app-cn-static-form>
</nz-card>
<div nz-row style="max-height: 1000px;" nzAlign="top">
    <div nz-col nzFlex="400px">
        <nz-card nzType="inner" [nzBodyStyle]="{'padding':'1px 2px','max-height':'680px','overflow':'auto'}">
            <nz-tree #nzTreeComponent nzShowLine="true" [nzData]="nodes" [nzExpandAll]="'true'"
                (nzClick)="nzClick($event)" (nzContextMenu)="nzClick($event)" (nzCheckBoxChange)="nzCheck($event)"
                (nzExpandChange)="nzCheck($event)">
            </nz-tree>

        </nz-card>

    </div>

    <div nz-col nzFlex="auto">

        <nz-table #basicTable [nzData]="listOfData">
            <thead>
                <tr>
                    <th>命令名称</th>
                    <th>命令编码</th>
                    <th>命令类型</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data" (click)="setSelectRow(data, $event)"
                    [ngClass]="{ selectedRow: (selectRow && selectRow['id'] === data['id']) ? true: false}">
                    <td>{{ data.commandTitle }}</td>
                    <td>{{ data.command }}</td>
                    <td>{{ data.commandType }}</td>
                </tr>
            </tbody>
        </nz-table>

    </div>
</div>