<div style="width:100%; display: none;">

    <form [formGroup]="validateForm">
        <!-- 三个form放在validation中一起验证 -->
        <nz-form-item nzFlex>
            <nz-form-label nz-col [nzSpan]="6" nzFor="email">email</nz-form-label>
            <nz-form-control nz-col [nzSpan]="14">
                <input nz-input formControlName="email">
            </nz-form-control>
        </nz-form-item>
        <div formGroupName="connection">
            <!-- 第一张表 -->
            <!-- 信息-->
            <nz-card nzTitle="候选人策略">
                <div nz-row>
                    <!-- 信息 -->
                    <div nz-col [nzSpan]="24">
                        <nz-form-item nzFlex>
                            <nz-form-label nz-col [nzSpan]="6" nzFor="url">url</nz-form-label>
                            <nz-form-control nz-col [nzSpan]="14">
                                <input nz-input formControlName="url">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="24">
                        <nz-form-item nzFlex>
                            <nz-form-label nz-col [nzSpan]="6" nzFor="expressionList">指派用户</nz-form-label>
                            <nz-form-control nz-col [nzSpan]="14">
                                <input nz-input formControlName="expressionList" [ngModel]="dataSet">
                                <button (click)="add()">添加</button>
                                <nz-table #basicTable [nzData]="dataSet">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Age</th>
                                            <th>Address</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of basicTable.data">
                                            <td>{{data.name}}</td>
                                            <td>{{data.age}}</td>
                                            <td>{{data.address}}</td>
                                            <td>
                                                <a>Action 一 {{data.name}}</a>
                                                <nz-divider nzType="vertical"></nz-divider>
                                                <a>Delete</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </nz-table>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </nz-card>
        </div>

        <!-- 第二张表 -->
        <div formArrayName="stageContent">
            <nz-card nzTitle="场次列表" [nzExtra]="extraTemplate">
                <div *ngFor="let item of testArrFormArray.controls;let i = index;" [formGroupName]="i">
                    <nz-card nzType="inner" [nzTitle]="'场次详细'+i">
                        <nz-form-item nzFlex>
                            <nz-form-label nz-col [nzSpan]="6" nzFor="etcName">场次</nz-form-label>
                            <nz-form-control nz-col [nzSpan]="14">
                                <input nz-input formControlName="etcName">
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nzFlex>
                            <nz-form-label nz-col [nzSpan]="6" nzFor="date">结束日期</nz-form-label>
                            <nz-form-control nz-col [nzSpan]="14">
                                <nz-date-picker nzFormat="MM-dd" formControlName="date"></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                        <button *ngIf="i>=0" nz-button nzType="dashed" (click)="delItem(i)" nzDanger nzBlock>删除</button>
                    </nz-card>


                </div>
            </nz-card>
            <ng-template #extraTemplate>
                <button nz-button nzType="primary" (click)="addItem()">添加</button>
            </ng-template>
            <ng-template #delextraTemplate let-i>
                <button nz-button nzType="primary" (click)="test_del(i)">删除</button>
            </ng-template>

        </div>

        <!-- 第三张表 -->

    </form>


    <hr>
    嵌套属性编辑


</div>
<button (click)="getComponentValueNew()">输出流程组件值</button>


<nz-collapse>
    <nz-collapse-panel [nzHeader]="'流程基本信息'">
        <cn-data-form #form1 [config]="form_process_config"></cn-data-form>

    </nz-collapse-panel>
</nz-collapse>
<nz-layout>

    <nz-layout>
        <nz-sider>

            <nz-divider nzOrientation="left" nzText="流程节点"></nz-divider>
            <div style="width: 200px; height: 100%;" #checkContainer> </div>

        </nz-sider>
        <nz-content>
            <nz-breadcrumb>
                <nz-breadcrumb-item>流程内容</nz-breadcrumb-item>
                <!-- <button nz-button nzType="default" (click)="onUndo()" [disabled]="!this.state.canUndo">撤销</button>
                <button nz-button nzType="default" (click)="onRedo()" [disabled]="!this.state.canRedo">恢复</button>

                <button nz-button nzType="default" (click)="onCopy()">复制</button>
                <button nz-button nzType="default" (click)="onPaste()">粘贴</button>
                <button nz-button nzType="default" (click)="onDelete()">删除</button>
                <button nz-button nzType="default" (click)="onSave()">保存</button>
                <button nz-button nzType="default" (click)="printData()">画布JSON(测试)</button>
              <button nz-button nzType="default" (click)="onTestSave()">(测试)</button> -->

                <ng-template ngFor let-btn [ngForOf]="config.innerToolbar">
                    <button style="font-weight: 500" *ngIf="!btn.hidden" [nzSize]="btn.size ? btn.size : 'default'"
                        [nzType]="btn.color ? btn.color : 'default'" [disabled]="btn.disabled" nz-button type="button"
                        (click)="inner_action(btn)">
                        <i nz-icon *ngIf="btn.icon" [nzType]="btn.icon" [nzTheme]="btn.theme ? btn.theme : 'outline'"
                            [nzTwotoneColor]="'#A5A5B8'"></i>
                        {{btn.text}}
                    </button>
                </ng-template>


            </nz-breadcrumb>
            <div class="inner-content" #refcontent>
                <div #refContainer style="width: 100%; height: 100%;">
                </div>
            </div>
        </nz-content>

    </nz-layout>
</nz-layout>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>

        <li nz-menu-item *ngFor="let item of config.dropdownMenu" (click)="dropdown_change(item.execute)">
            <i nz-icon *ngIf="item.icon" [nzType]="item.icon" [nzTheme]="item.theme ? item.theme : 'outline'"
                [nzTwotoneColor]="'#A5A5B8'"></i>
            {{item.text}}
        </li>
    </ul>
</nz-dropdown-menu>