<p>cfg-view-layout works!</p>
<!-- <div nz-row>
    <div nz-col nzFlex="100px" style="height: 500px; background-color: crimson;">100px</div>
    <div nz-col nzFlex="auto">
        <nz-layout style="width: 100%;">
            <nz-header>Header</nz-header>
            <nz-content style="overflow: auto;position: relative;height: 500px;">
                <div style="width: 3000px; height: 300px; background-color: darkkhaki; position: absolute">
                    dddddddddddddddd
                </div>
            </nz-content>
            <nz-footer>Footer</nz-footer>
        </nz-layout>
    </div>
</div> -->

<nz-divider nzDashed [nzText]="text">
    <ng-template #text><i nz-icon nzType="plus"></i> 页面可视化</ng-template>
</nz-divider>
<nz-layout style="background-color: white;">
    <nz-header>页面可视化</nz-header>
    <nz-content>
        <div nz-row style="max-height: 1000px;" nzAlign="top">
            <div nz-col [nzFlex]="Flex">
                <ng-container *ngIf="Flex==='250px'">
                    <!--         <nz-card nzType="inner" nzTitle="工具栏"
                        style="width:100%;border: 1px solid #54e72f;   padding-right: 4px;"
                        [nzBodyStyle]="{'padding':'1px 2px'}" [nzExtra]="extraTemplate_tool">
                    </nz-card> -->
                    <nz-tabset nzTabPosition="top" [nzType]="'card'" [nzTabBarExtraContent]="extraTemplate_tool">
                        <nz-tab nzTitle="组件">
                            <nz-collapse>
                                <nz-collapse-panel *ngFor="let panel of left_panels" [nzHeader]="panel.name"
                                    [nzActive]="panel.active" [nzDisabled]="panel.disabled">
                                    <nz-card cdkDropList (cdkDropListDropped)="drop($event)">
                                        <div nz-card-grid [ngStyle]="gridStyle" [draggable]="is_drag"
                                            (dragstart)="f_ondragstart($event,'cnDataTable')"><i nz-icon nzType="table"
                                                nzTheme="outline"></i>
                                            <br>表格
                                        </div>
                                        <div nz-card-grid [ngStyle]="gridStyle" [draggable]="is_drag"
                                            (dragstart)="f_ondragstart($event,'cnForm')">
                                            <i nz-icon nzType="form" nzTheme="outline"></i> <br>表单
                                        </div>
                                        <div nz-card-grid [ngStyle]="gridStyle" [draggable]="is_drag"
                                            (dragstart)="f_ondragstart($event,'calendar')"><i nz-icon nzType="calendar"
                                                nzTheme="outline"></i>
                                            <br>日程
                                        </div>
                                        <div nz-card-grid [ngStyle]="gridStyle"><i nz-icon nzType="container"
                                                nzTheme="outline"></i>
                                            <br>容器
                                        </div>
                                        <div nz-card-grid [ngStyle]="gridStyle" [draggable]="is_drag"
                                            (dragstart)="f_ondragstart($event,'cnToolbar')">
                                            <i nz-icon nzType="group" nzTheme="outline"></i> <br>按钮
                                        </div>
                                        <div nz-card-grid [ngStyle]="gridStyle">组件06</div>

                                    </nz-card>

                                </nz-collapse-panel>

                            </nz-collapse>
                        </nz-tab>
                        <nz-tab nzTitle="页面结构">
                            <nz-card nzType="inner"
                                [nzBodyStyle]="{'padding':'1px 2px','max-width':'245px','overflow':'auto'}">
                                <nz-tree [nzData]="layout_nodes" nzExpandAll="true" nzShowLine="true"> </nz-tree>
                            </nz-card>
                        </nz-tab>
                    </nz-tabset>

                </ng-container>
                <ng-container *ngIf="Flex==='60px'">

                    <div nz-card-grid [ngStyle]="gridStyle1" (click)="test_Flex()"> <i nz-icon nzType="menu"
                            nzTheme="outline"></i></div>
                    <div nz-card-grid [ngStyle]="gridStyle1">
                        <i nz-icon nzType="switcher" nzTheme="outline"></i>
                        组件
                    </div>
                    <div nz-card-grid [ngStyle]="gridStyle1">
                        <i nz-icon nzType="apartment" nzTheme="outline"></i>
                        页面结构
                    </div>
                </ng-container>
            </div>
            <!-- transform-origin: 0 0; 'min-width':'1000px',
                    'max-width':'1000px', 
                    ,
                    'background-image': 'linear-gradient(90deg, rgba(50, 0, 0, 0.05) 3%, rgba(0, 0, 0, 0) 3%), linear-gradient(360deg, rgba(50, 0, 0, 0.05) 3%, rgba(0, 0, 0, 0) 3%)',
                    'background-size': '20px 20px',
                    'background-repeat': 'repeat',
                    'background-position': 'center center',
                    'min-height':'680px',
                    'max-height':'680px',
                    'max-width': '1000px',
                    'overflow-y':'scroll'
                
                -->
            <div nz-col nzFlex="auto" #content>

                <nz-card [nzTitle]="extraT" [nzExtra]="extraE" [nzBodyStyle]="{'padding':'1px 2px','overflow':'auto'
                
                }">
                    <div [ngStyle]="div_style">

                        <div [ngStyle]="sizeStyle">
                            <!--  style="max-width: 1680px;min-width: 1680px;position: absolute" -->
                            <div [ngStyle]="div_container_style">
                                <cfg-layout #child0 [config]="c_config" [configStatus]="true"
                                    (updateLayoutValue)="valueChangeLayout($event)">
                                </cfg-layout>
                            </div>

                        </div>
                    </div>


                </nz-card>

                <ng-template #extraT>
                    <nz-button-group>
                        <button nz-button [nzSize]="'small'" nzType="primary" nzTitle="预览页面结构" (click)="PreviewLayout()"
                            nz-tooltip>
                            <i nz-icon nzType="folder-view" nzTheme="outline"></i>
                            视图</button>
                        <button nz-button [nzSize]="'small'" nzTitle="预览页面结构" (click)="PreviewLayout()" nz-tooltip>
                            <i nz-icon nzType="eye" nzTheme="outline"></i>
                            预览</button>
                    </nz-button-group>


                    <nz-switch nzCheckedChildren="组件" nzUnCheckedChildren="布局" style="margin-left: 7px;"></nz-switch>

                    缩放比例：
                    <nz-select [ngModel]="selectedValue" (ngModelChange)="log($event)" style="width: 100px;">
                        <nz-option nzValue="2" nzLabel="200%"></nz-option>
                        <nz-option nzValue="1.5" nzLabel="150%"></nz-option>
                        <nz-option nzValue="1.2" nzLabel="120%"></nz-option>
                        <nz-option nzValue="1.1" nzLabel="110%"></nz-option>
                        <nz-option nzValue="1" nzLabel="100%"></nz-option>
                        <nz-option nzValue="0.9" nzLabel="90%"></nz-option>
                        <nz-option nzValue="0.8" nzLabel="80%"></nz-option>
                        <nz-option nzValue="0.75" nzLabel="75%"></nz-option>
                        <nz-option nzValue="0.7" nzLabel="70%"></nz-option>
                        <nz-option nzValue="0.6" nzLabel="60%"></nz-option>
                        <nz-option nzValue="0.5" nzLabel="50%"></nz-option>

                    </nz-select>
                </ng-template>
                <ng-template #extraE>
                    屏幕大小：
                    <nz-button-group>
                        <button nz-button [nzSize]="'small'" (click)="c_size_click('sFILL')" [nzType]="c_size['sFILL']">
                            FILL</button>
                        <button nz-button [nzSize]="'small'" (click)="c_size_click('s1600')" [nzType]="c_size['s1600']">
                            1600px</button>
                        <button nz-button [nzSize]="'small'" (click)="c_size_click('s1200')" [nzType]="c_size['s1200']">
                            1200px</button>
                        <button nz-button [nzSize]="'small'" (click)="c_size_click('s768')" [nzType]="c_size['s768']">
                            768px</button>
                    </nz-button-group>
                    <button nz-button style="margin-left: 8px;" [nzSize]="'small'" nzType="primary" nzTitle="预览页面结构"
                        (click)="PreviewLayout()" nz-tooltip>
                        <i nz-icon nzType="save" nzTheme="outline"></i>保存</button>

                </ng-template>


            </div>
            <div nz-col nzFlex="400px">
                <nz-tabset nzTabPosition="top" [nzType]="'card'">
                    <nz-tab nzTitle="属性">
                        <nz-card nzType="inner" nzTitle="基本信息"
                            style="width:100%;border: 1px solid #54e72f;  padding-right: 4px;"
                            [nzBodyStyle]="{'padding':'1px 2px'}">
                            <form nz-form>
                                <nz-form-item>
                                    <nz-form-label [nzSpan]="6" nzFor="email">id</nz-form-label>
                                    <nz-form-control [nzSpan]="14">
                                        <input nz-input name="email" type="email" id="email">
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzSpan]="6" nzFor="email">component</nz-form-label>
                                    <nz-form-control [nzSpan]="14">
                                        <input nz-input name="email" type="email" id="email">
                                    </nz-form-control>
                                </nz-form-item>
                            </form>


                        </nz-card>

                        <nz-card nzType="inner" nzTitle="详细属性"
                            style="width:100%;border: 1px solid #54e72f;  padding-right: 4px;"
                            [nzBodyStyle]="{'padding':'1px 2px'}">
                            <form nz-form>
                                <nz-form-item>
                                    <nz-form-label [nzSpan]="6" nzFor="email">size</nz-form-label>
                                    <nz-form-control [nzSpan]="14">
                                        <input nz-input name="email" type="email" id="email">
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzSpan]="6" nzFor="email">isBordered</nz-form-label>
                                    <nz-form-control [nzSpan]="14">
                                        <input nz-input name="email" type="email" id="email">
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzSpan]="6" nzFor="email">isPagination</nz-form-label>
                                    <nz-form-control [nzSpan]="14">
                                        <input nz-input name="email" type="email" id="email">
                                    </nz-form-control>
                                </nz-form-item>
                            </form>


                        </nz-card>
                        <nz-card nzType="inner" nzTitle="主资源"
                            style="width:100%;border: 1px solid #54e72f;  padding-right: 4px;"
                            [nzBodyStyle]="{'padding':'1px 2px'}">
                        </nz-card>
                        <nz-card nzType="inner" nzTitle="列信息"
                            style="width:100%;border: 1px solid #54e72f;  padding-right: 4px;"
                            [nzBodyStyle]="{'padding':'1px 2px'}">
                        </nz-card>
                        <nz-card nzType="inner" nzTitle="级联"
                            style="width:100%;border: 1px solid #54e72f;  padding-right: 4px;"
                            [nzBodyStyle]="{'padding':'1px 2px'}">
                        </nz-card>
                    </nz-tab>

                    <nz-tab nzTitle="样式">
                        Content of Tab Pane 3
                    </nz-tab>
                    <nz-tab nzTitle="交互">
                        <nz-card nzType="inner" nzTitle="组件接口定义【可以接受的消息】"
                            style="width:100%;border: 1px solid #54e72f;  padding-right: 4px;"
                            [nzBodyStyle]="{'padding':'1px 2px'}">

                            <app-cfg-interface></app-cfg-interface>

                        </nz-card>
                        <nz-card nzType="inner" nzTitle="组件命令【可以执行的内容】"
                            style="width:100%;border: 1px solid #54e72f;  padding-right: 4px;"
                            [nzBodyStyle]="{'padding':'1px 2px'}">

                            <app-cfg-command></app-cfg-command>

                        </nz-card>
                        <nz-card nzType="inner" nzTitle="组件事件【可以发出消息】"
                            style="width:100%;border: 1px solid #54e72f;   padding-right: 4px;"
                            [nzBodyStyle]="{'padding':'1px 2px'}">
                            <app-cfg-event></app-cfg-event>

                        </nz-card>
                        <nz-card nzType="inner" nzTitle="组件监听【可以触发的动作】【高级功能】"
                            style="width:100%;border: 1px solid #54e72f;   padding-right: 4px;"
                            [nzBodyStyle]="{'padding':'1px 2px'}">
                            <app-cfg-listens></app-cfg-listens>
                        </nz-card>

                    </nz-tab>
                    <nz-tab nzTitle="操作">
                        <nz-card nzType="inner" nzTitle="组件按钮"
                            style="width:100%;border: 1px solid #54e72f;   padding-right: 4px;"
                            [nzBodyStyle]="{'padding':'1px 2px'}">
                            <app-cfg-toolbar-action></app-cfg-toolbar-action>
                        </nz-card>
                        <nz-card nzType="inner" nzTitle="行内按钮"
                            style="width:100%;border: 1px solid #54e72f;   padding-right: 4px;"
                            [nzBodyStyle]="{'padding':'1px 2px'}">
                            <app-cfg-toolbar-action></app-cfg-toolbar-action>
                        </nz-card>
                        <nz-card nzType="inner" nzTitle="自定义操作"
                            style="width:100%;border: 1px solid #54e72f;   padding-right: 4px;"
                            [nzBodyStyle]="{'padding':'1px 2px'}">
                            <app-cfg-toolbar-action></app-cfg-toolbar-action>
                        </nz-card>
                    </nz-tab>
                    <nz-tab nzTitle="变量">
                        <nz-card nzType="inner" nzTitle="组件参数【可以取值参数】"
                            style="width:100%;border: 1px solid #54e72f;   padding-right: 4px;"
                            [nzBodyStyle]="{'padding':'1px 2px'}">

                            <nz-collapse>
                                <nz-collapse-panel *ngFor="let panel of parameter_panels" [nzHeader]="panel.name"
                                    [nzActive]="panel.active" [nzDisabled]="panel.disabled">
                                </nz-collapse-panel>
                            </nz-collapse>

                        </nz-card>

                    </nz-tab>
                </nz-tabset>








            </div>
        </div>
    </nz-content>
    <nz-footer>Footer

    </nz-footer>
</nz-layout>

<ng-template #extraTemplate_tool>
    <a style="padding-right: 15px;"> <i nz-icon nzType="menu-fold" nzTheme="outline" (click)="test_Flex()"></i></a>
</ng-template>


<nz-divider nzDashed [nzText]="text1">
    <ng-template #text1><i nz-icon nzType="plus"></i> 组件可视化测试demo</ng-template>
</nz-divider>

<span> 组件接口
    <hr>
</span>
<app-cfg-interface></app-cfg-interface>
<app-cfg-interface-item></app-cfg-interface-item>
<span> 组件事件
    <hr>
</span>
<app-cfg-event></app-cfg-event>
<app-cfg-event-item></app-cfg-event-item>
<span> 监听
    <hr>
</span>
<app-cfg-listens></app-cfg-listens>

<span> 方法【组件可执行内容均在这里维护，方法是可以查看不能编辑的，编辑均放在具体业务中实现，存储在方法组内】
    <hr>
</span>
<app-cfg-method></app-cfg-method>

<span> cnToolbar 按钮操作
    <hr>
</span>
<app-cfg-toolbar-action></app-cfg-toolbar-action>
<button nz-button [nzSize]="'small'" nzType="primary" nzTitle="预览页面结构" (click)="testDB()" nz-tooltip>
    <i nz-icon [nzType]="'download'"></i>测试数据库</button>
<button nz-button [nzSize]="'small'" nzType="primary" nzTitle="预览页面参数服务" (click)="service_component_paramter_list()"
    nz-tooltip>
    <i nz-icon [nzType]="'download'"></i>测试数据库</button>