<p>cfg-form-container works!</p>
<div [ngStyle]="(selectedItem['cmptitem'] && (selectedItem['active']==='cmpt') && (selectedItem['cmptitem']['id']===l_config['id']) )? body_style_selected: body_style"
    (drop)="f_ondrop($event,l_config,'')" (dragover)="f_ondragover($event,l_config)"
    (dragenter)="f_ondragenter($event,'i')" (dragleave)="f_ondragleave($event,'i')" (click)="click($event)"
    draggable="true" (dragstart)="f_ondragstart($event)">

    <span *ngIf="l_config && l_config['type']">

        <div nz-row style="margin-top: 6px;">
            <div nz-col nzFlex="2">
                <ng-container *ngIf="editTitleState">
                    <input nz-input placeholder="标题" [(ngModel)]="l_config['title']" (blur)="onblurtitle($event,'end')"
                        (keyup)="onKeyPress($event,'end')" autofocus style="width: 100%;" />
                </ng-container>
                <span *ngIf="!editTitleState" (dblclick)="editTitle($event)">{{l_config['title']}}:

                </span>
                <!--  {{cmptState['initState']}} -->
            </div>
            <div nz-col nzFlex="8">
                <ng-container *ngIf="l_config[cmptState['initState']]">

                    <ng-container *ngIf="l_config[cmptState['initState']]['type']==='input'">
                        <input nz-input placeholder="请输入" style="width: 80%;" />
                    </ng-container>
                    <ng-container *ngIf="l_config[cmptState['initState']]['type']==='select'">
                        <nz-select ngModel="lucy">
                            <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                            <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                        </nz-select>
                    </ng-container>
                    <ng-container *ngIf="l_config[cmptState['initState']]['type']==='time'">
                        <nz-date-picker></nz-date-picker>
                    </ng-container>
                    <ng-container *ngIf="l_config[cmptState['initState']]['type']==='check'">
                        <label nz-checkbox>Checkbox</label>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="!l_config[cmptState['initState']]">
                    <p>可拖拽组件</p>
                </ng-container>


            </div>
        </div>



    </span>


</div>