<div class="table-operations">
        <span *ngFor="let toolbar of toolbarConfig">
          <span class="toolbarGroup" *ngIf="toolbar.group">
            <nz-button-group>
              <ng-template ngFor let-btn [ngForOf]="toolbar.group">
                <button *ngIf="!btn.hidden" [nzSize]="btn.size ? btn.size : 'default'" [nzType]="btn.type ? btn.type : 'default'"
                  nz-button >
                  <i nz-icon *ngIf="btn.icon" [type]="btn.icon" [nzTheme]="btn.theme ? btn.theme : 'outline'"></i>
                  {{btn.text}}
                </button>
              </ng-template>
      
            </nz-button-group>
          </span>
          <span class="toolbarGroup" *ngIf="toolbar.dropdown">
            <ng-container *ngFor="let btn of toolbar.dropdown">
              <button nz-button nz-dropdown [nzDropdownMenu]="menu">
                <strong>
                  <i nz-icon type="down" theme="outline"></i> {{btn.text}}
                </strong>
              </button>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <ng-template ngFor let-btn [ngForOf]="btn.buttons">
                    <li *ngIf="!btn.hidden" nz-menu-item>
                      <strong>
                        <a> <i nz-icon type="btn.icon" [nzTheme]="btn.theme ? btn.theme : 'outline'"></i>{{btn.text}}</a>
                      </strong>
                    </li>
                  </ng-template>
                </ul>
              </nz-dropdown-menu>
            </ng-container>
          </span>
        </span>
      </div>
      