
<!-- <ng-container>
    <button nz-button [nzType]="switchValue?'primary':'default'" (click)="buttonSwitchClick(switchValue)">
        <i *ngIf="switchValue" nz-icon nzType="eye"></i>
        <i *ngIf="!switchValue" nz-icon nzType="eye-invisible"></i>
    </button>
</ng-container>
<hr>
<nz-tag [nzColor]="switchValue?'magenta':'purple'" (click)="buttonSwitchClick(switchValue)"> 
    <i *ngIf="switchValue" nz-icon nzType="eye"></i>
    <i *ngIf="!switchValue" nz-icon nzType="eye-invisible"></i>
</nz-tag>

<nz-tag [nzColor]="switchValue?'magenta':'purple'" (click)="buttonSwitchClick(switchValue)"> 
    <i *ngIf="switchValue" nz-icon nzType="eye"></i>
    <i *ngIf="!switchValue" nz-icon nzType="eye-invisible"></i>
</nz-tag>

<hr>
[环状状态图标] -->                                                                        
 <input nz-input type="hidden" placeholder="Basic usage" style="width: 20px;" [(ngModel)]="currentStateValue" (ngModelChange)="valueChange($event)" />

 <ng-container *ngIf="config.showTheme==='tag'" >
    <nz-tag nz-tooltip [nzTooltipTitle]="currentTooltipTitle" [nzColor]="currentColor" (click)="currentSwitchClick(switchValue,$event)"> 
        
        <ng-container *ngIf="config.enableLabel" >
            {{currentLabel}}
        </ng-container>
        <ng-container *ngIf="config.enableIcon" >
            <i nz-icon [nzType]="currentIcon" [nzTheme]="config.iconTheme?config.iconTheme:'twotone'"></i>
        </ng-container>
        
    </nz-tag> 
 </ng-container>
 <ng-container *ngIf="config.showTheme==='icon'" >
    <i nz-icon nz-tooltip [nzTooltipTitle]="currentTooltipTitle" [nzType]="currentIcon" [nzTheme]="config.iconTheme?config.iconTheme:'twotone'"  [nzTwotoneColor]="currentColor" (click)="currentSwitchClick(switchValue,$event)"></i>
 </ng-container>



 <!-- <button nzTooltipTitle="prompt text" nzTooltipPlacement="top" nz-button nz-tooltip>Top</button> -->

<!--<span nz-tooltip nzTooltipTitle="prompt text">ddd</span> -->

<!-- <hr>
颜色参考
<nz-tag [nzColor]="'magenta'">magenta</nz-tag>
<nz-tag [nzColor]="'red'">red</nz-tag>
<nz-tag [nzColor]="'volcano'">volcano</nz-tag>
<nz-tag [nzColor]="'orange'">orange</nz-tag>
<nz-tag [nzColor]="'gold'">gold</nz-tag>
<nz-tag [nzColor]="'lime'">lime</nz-tag>
<nz-tag [nzColor]="'green'">green</nz-tag>
<nz-tag [nzColor]="'cyan'">cyan</nz-tag>
<nz-tag [nzColor]="'blue'">blue</nz-tag>
<nz-tag [nzColor]="'geekblue'">geekblue</nz-tag>
<nz-tag [nzColor]="'purple'">purple</nz-tag> -->