<ng-container *ngIf="config['formType'] === 'value'">
    <nz-form-item>
        <nz-form-label *ngIf="!config.componentConfig['hiddenTitle']" [nzSpan]="config.componentConfig.labelSize.span"
            [nzSm]="config.componentConfig.labelSize.nzSm" [nzXs]="config.componentConfig.labelSize.nzXs"
            [nzMd]="config.componentConfig.labelSize.nzMd" [nzLg]="config.componentConfig.labelSize.nzLg"
            [nzXl]="config.componentConfig.labelSize.nzXl" [nzTooltipTitle]="config.componentConfig.labelTooltipTitle"
            [nzTooltipIcon]="config.componentConfig.labelTooltipIcon" nzRequired>
            {{config['title']}}
        </nz-form-label>
        <nz-form-control [nzSpan]="config.componentConfig.controlSize.span"
            [nzSm]="config.componentConfig.controlSize.nzSm" [nzXs]="config.componentConfig.controlSize.nzXs"
            [nzMd]="config.componentConfig.controlSize.nzMd" [nzLg]="config.componentConfig.controlSize.nzLg"
            [nzXl]="config.componentConfig.controlSize.nzXl" [formGroup]="validateForm">
            <input nz-input [formControlName]="config['name']" type="hidden" />
            {{showValue}}
        </nz-form-control>
    </nz-form-item>
</ng-container>