<nz-card nzTitle="附件">
    <nz-spin [nzSpinning]="uploading" nzTip="上传中......">
        <nz-upload [(nzFileList)]="fileList" (nzChange)="change($event)" nzType="drag" [nzMultiple]="config.multiple"
            [nzBeforeUpload]="beforeUpload" [nzPreview]="perview">
            <p class="ant-upload-drag-icon">
                <i nz-icon nzType="inbox"></i>
            </p>
            <p class="ant-upload-text">请将文件【拖拽】至此或【单击】此区域添加文件</p>
            <p class="ant-upload-hint">
                支持单次或批量上传
            </p>
        </nz-upload>
    </nz-spin>
    <nz-card nzTitle="附件描述">
        <cn-data-form #fileform [config]="config.customStructure.fileContent.component"></cn-data-form>
    </nz-card>
    <span>
        　　 <button nz-button nzBlock [nzType]="'primary'" [nzLoading]="uploading" (click)="handleUpload()"
            [disabled]="fileList.length == 0">
            {{ uploading ? '上传中...' : '上传' }}
        </button>
    </span>


    <!-- <a target="_blank" href="{{url}}file/download?ids=7eb66f5d09b3fd2435e4c90c8b66815d">测试下载</a> -->

    <!-- <a target="_blank" href="{{url}}file/download?ids=59f7a501-d7f6-4b20-bcd5-73dfc9a30fcd,79bc1433-3c5a-4ef1-99e7-9bfff380bd1f">测试下载</a>
  <button nz-button [nzType]="'primary'" (click)="downClick()" style="margin-top: 16px">
    downClick
</button> -->
    <!-- <cn-data-table #filetable [config]="_config.customStructure.fileList.component"></cn-data-table> -->
</nz-card>