<input nz-input hidden="hidden" [(ngModel)]="value" (ngModelChange)="valueChange($event)" />

<ng-container *ngIf="!config.readonly">
  <nz-input-group [nzAddOnAfter]="suffixButton" style="width: 100%">
    <input type="hidden" nz-input placeholder="input search text" />
    <div class="custom-select" data-text="请选择">
      <nz-tag *ngFor="let tag of tags; let i = index;" style="margin-bottom: 3px" (nzOnClose)="handleClose(tag)"
        [nzMode]="'closeable'" [nzColor]="'cyan'">
        {{ tag['label']}}
      </nz-tag>
    </div>
  </nz-input-group>
  <ng-template #suffixButton>
    <button nz-button type="button" nzType="primary" (click)="createCustomModal()">
      <i nz-icon nzType="small-dash"></i>
    </button>
  </ng-template>
</ng-container>
<ng-container *ngIf="config.readonly">
  <nz-input-group style="width: 100%">
    <input type="hidden" nz-input placeholder="input search text" />
    <!-- <div style="border:1px solid #d9d9d9; background-color: #fff; min-height: 35px;  padding:3px"> -->
    <nz-tag *ngFor="let tag of tags; let i = index;" style="margin-bottom: 3px" [nzColor]="'cyan'">
      {{ tag['label']}}
    </nz-tag>
    <!-- </div> -->
  </nz-input-group>
</ng-container>