<nz-form-item>
    <nz-form-label [nzFor]="config.field" [nzSpan]="config.config.labelSize.span" [nzSm]="config.config.labelSize.nzSm" [nzXs]="config.config.labelSize.nzXs"
        [nzMd]="config.config.labelSize.nzMd" [nzLg]="config.config.labelSize.nzLg" [nzXl]="config.config.labelSize.nzXl" [nzRequired]="config.config.titleConfig.required">
    {{config.config.title}}</nz-form-label>
    <nz-form-control [nzSpan]="config.config.controlSize.span" [nzSm]="config.config.controlSize.nzSm" [nzXs]="config.config.controlSize.nzXs"
        [nzMd]="config.config.controlSize.nzMd" [nzLg]="config.config.controlSize.nzLg" [nzXl]="config.config.controlSize.nzXl"
        [formGroup]="formGroup" [nzErrorTip]="combineTpl"  nzValidatingTip="Validating...">
        <!-- style="width: 250px"        [nzDefaultExpandedKeys]="expandKeys"    -->
              <!-- <nz-tree-select
        #tree
              [nzDropdownStyle]="{ 'max-height': '300px' }"
              [nzNodes]="nodes"
              [nzHideUnMatched]="true"
              [nzAsyncData]="config.asyncData?config.asyncData:false"
              (nzExpandChange)="expandNode($event)"
              nzShowSearch
              nzPlaceHolder="Please select"
              [formControlName]="config.field"
              [(ngModel)]="value"
              (ngModelChange)="valueChange($event)"
              [nzPlaceHolder] = "config.placeholder"
              >
              </nz-tree-select> -->
              <input nz-input [formControlName]="config.field" hidden="hidden" [(ngModel)]="value"
              (ngModelChange)="valueChange($event)" />
              <nz-cascader
              [ngModelOptions]="{standalone: true}" 
              [nzChangeOn]="validate"
              [nzOptions]="nodes"
              [(ngModel)]="_value"
              [nzPlaceHolder] = "config.placeholder"
              (ngModelChange)="valueChange_ByCascader($event)"
            >
            </nz-cascader>
      
   
        <ng-template #combineTpl let-control>
                <ng-container nz-col *ngFor="let c of config.validations" > 
                        <ng-container *ngIf="control.hasError(c['validator'])">{{c.message ? c.message:'校验不通过' }}</ng-container>
            </ng-container>
            <ng-container *ngIf="control.hasError('_subscribe')">
                    The username is redundant!
                  </ng-container>
        </ng-template>
    </nz-form-control>
</nz-form-item>