<nz-layout>
    <nz-content>
        <ng-container *ngIf="layoutObj.children">
            <div nz-row [nzGutter]="{ xs: 4, sm: 6, md:4, lg: 16 }" *ngFor="let row of layoutObj.children">
                <div nz-col *ngFor="let col of row.children" [nzSpan]="col.span" [nzSm]="col.size.nzSm"
                    [nzXs]="col.size.nzXs" [nzMd]="col.size.nzMd" [nzLg]="col.size.nzLg" [nzXl]="col.size.nzXl"
                    [ngSwitch]="col.container">

                    <ng-container *ngSwitchCase="'component'">
                        <div *ngFor="let cmp of col.children">
                            <app-smt-component [config]="cmp" [tempData]="tempData" [dataServe]="dataServe"
                                [initData]="initData">
                            </app-smt-component>
                        </div>
                    </ng-container>

                    <!-- <nz-card *ngSwitchCase="'rows'"> -->
                    <ng-container *ngSwitchCase="'rows'" SmtDynamicLayoutResolverDirective [config]="col.children"
                        [tempData]="tempData" [dataServe]="dataServe" [initData]="initData">
                    </ng-container>
                    <!-- </nz-card> -->

                    <nz-card *ngSwitchDefault [nzBodyStyle]="col.bodyStyle ? col.bodyStyle : {height:'300px'}">
                        <!-- <ng-container  SmtDynamicLayoutResolverDirective [config]="col.children"
                            [tempData]="tempData" [initData]="initData">
                        </ng-container> -->
                    </nz-card>

                    <!-- <nz-card [ngSwitch]="col.container" >
              
            </nz-card> -->
                </div>
            </div>
        </ng-container>
    </nz-content>
</nz-layout>