<nz-collapse *ngIf="config.componentConfig['mode']==='collapse' ">
    <nz-collapse-panel [nzHeader]="config['title']">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </nz-collapse-panel>
</nz-collapse>
<div *ngIf="config.componentConfig['mode']==='empty'">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</div>
<nz-card nzType="inner" [nzTitle]="config['title']"
    *ngIf="!config.componentConfig['mode'] || config.componentConfig['mode']==='card'">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</nz-card>
<ng-template #content>
    <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="span" *ngFor="let item of validateFormArray.controls;let i = index;">


            <nz-card nzType="inner" [nzTitle]="getobjectTitle(i)" [nzExtra]="delextraTemplate">
                <app-cn-static-form-object-empty [validateForm]="item" [config]="config"
                    [fromDataService]="fromDataService">
                </app-cn-static-form-object-empty>
            </nz-card>

            <ng-template #delextraTemplate let-i>
                <button
                    [hidden]="config.componentConfig['defaultActionDeleteHidden']?config.componentConfig['defaultActionDeleteHidden']:false"
                    nz-button nzType="primary" (click)="delItem(i)">删除</button>
            </ng-template>

        </div>
    </div>
    <button
        [hidden]="config.componentConfig['defaultActionAddHidden']?config.componentConfig['defaultActionAddHidden']:false"
        nz-button type="button" nzType="dashed" nzBlock="true" nzSize="default" style="margin-bottom: 3px;"
        (click)="add()"><i nz-icon nzType="plus"></i>
        添加</button>
</ng-template>