<!-- 
<div nz-row [nzGutter]="6">
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="表单选项">
        <div nz-card-grid [ngStyle]="gridStyle" [draggable]="is_drag" (dragstart)="f_ondragstart($event,'input')">
          <div nz-row [nzGutter]="6">
            <div nz-col [nzSpan]="8"> 输入框: </div>
            <div nz-col [nzSpan]="16">
              <input nz-input placeholder="输入框" />
            </div>
          </div>
        </div>
        <div nz-card-grid [ngStyle]="gridStyle" [draggable]="is_drag" (dragstart)="f_ondragstart($event,'select')">
          <div nz-row [nzGutter]="6">
            <div nz-col [nzSpan]="8"> 下拉选择: </div>
            <div nz-col [nzSpan]="16">
              <nz-select style="width: 120px;" nzAllowClear nzPlaceHolder="Choose">
                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
              </nz-select>
            </div>
          </div>
        </div>
  
      </nz-card>
  
    </div>
    <div nz-col [nzSpan]="16">
  
        <cfg-form-layout></cfg-form-layout>
    </div>
  </div>
  
<hr> -->

<!-- <cn-data-form  [config]="config"></cn-data-form> -->
<!-- <hr>
 布局解析
  <ng-container cnLayoutResolverDirective [config]="formconfig"></ng-container> -->
  <!-- <cn-grid-custom-select [config]="gridcustom"></cn-grid-custom-select>
  <cn-grid-custom-select [config]="gridcustom1"></cn-grid-custom-select> -->
  <!-- <cn-tag></cn-tag>  -->
  <!-- <cn-upload></cn-upload> -->
  <ng-container cnLayoutResolverDirective [config]="democonfig"></ng-container>   

<div cn-carouse></div>