<hr> 第一步：生成布局(设置布局基本属性)
 <cfg-layout [(config)]="c_config" (updateLayoutValue)="valueChangeLayout($event)"></cfg-layout> 
<hr> 第二步：布局内拖放组件

<button nz-button nzType="primary" (click)="showLayout()">展示第一步布局</button>
<hr>
<div nz-row [nzGutter]="6">
  <div nz-col [nzSpan]="4">
    <nz-card nzTitle="组件选项">
      <div nz-card-grid [ngStyle]="gridStyle" [draggable]="is_drag" (dragstart)="f_ondragstart($event,'form')">
        表单组件
      </div>
      <div nz-card-grid [ngStyle]="gridStyle" [draggable]="is_drag" (dragstart)="f_ondragstart($event,'table')">
        表格组件
      </div>
      <div nz-card-grid [ngStyle]="gridStyle" [draggable]="is_drag" (dragstart)="f_ondragstart($event,'tree')">
        树组件
      </div>
      <div nz-card-grid [ngStyle]="gridStyle" [draggable]="is_drag" (dragstart)="f_ondragstart($event,'calendar')">
        日历组件
      </div>
      <div nz-card-grid [ngStyle]="gridStyle" [draggable]="is_drag" (dragstart)="f_ondragstart($event,'carousel')">
        走马灯组件
      </div>

    </nz-card>

  </div>
  <div nz-col [nzSpan]="20" style=" height: 600px; overflow:auto;">
    <cfg-layout #child1 [(config)]="c_config"  [designStatus]="designStatus" (updateLayoutValue)="valueChangeLayout($event)"></cfg-layout>
  </div>
</div>



