<nz-spin [nzSpinning]="isLoading" nzTip='加载中...'>
    <!-- (contextmenu)="contextMenu($event,template)" -->
    <!-- <div
        [ngStyle]="{overflow: 'auto',height: config.scrollHeight, width: config.scrollWidth}"
        infiniteScroll
        [infiniteScrollDistance]="1"
        [infiniteScrollThrottle]="50"
        [scrollWindow]="false">
        <div #dataSteps></div>
    </div> -->
    <div #dataSteps></div>
    <!-- <ng-template #template>
    <ul nz-menu nzInDropDown (nzClick)="close($event)">
      <li nz-menu-item>一级数据</li>
      <li nz-menu-item>二级数据</li>
      <li nz-menu-item>三级数据</li>
    </ul>
  </ng-template> -->
</nz-spin>
