
              <nz-tree-select
        #tree
              [nzDropdownStyle]="{ 'max-height': '300px' }"
              [nzNodes]="nodes"
              [nzHideUnMatched]="true"
              [nzAsyncData]="config.asyncData?config.asyncData:false"
              (nzExpandChange)="expandNode($event)"
              nzShowSearch
              nzPlaceHolder="Please select"
              [(ngModel)]="value"
            
              (ngModelChange)="valueChange($event)"
              [nzPlaceHolder] = "config.placeholder"
              >
              </nz-tree-select>
      
              <!-- -->
