<!-- <p>cfg-toolbar-action works!</p>
【组件内按钮】: 样式：左&右
配置：是否启用toolbar
页面标题：
内容均是在组件渲染器里（不在布局行列里）
【图标】【按钮名称】【执行数据库】
【图标】【按钮名称】【更改状态】 -->
<nz-collapse>
    <nz-collapse-panel *ngFor="let panel of event_panels" [nzHeader]="extraH" [nzActive]="panel.active"
        [nzDisabled]="panel.disabled" [nzExtra]="extraTpl" [ngStyle]="{'padding':'2px'}">
        <ng-container *ngIf="panel.hasOwnProperty('group')">
            <app-cfg-toolbar-action-item [(dataConent)]="panel['group']"></app-cfg-toolbar-action-item>
        </ng-container>
        <ng-template #extraTpl>
            <!-- You can use stopPropagation if you don't want the panel to toggle -->
            <i nz-icon nzType="setting" (click)="setting($event,panel)"></i>

        </ng-template>
        <ng-template #extraH>
            <i nz-icon nzType="group" nzTheme="outline"></i> {{panel.name}}
            <nz-badge nzStandalone [nzCount]="panel.group.length" [nzOverflowCount]="999"
                [nzStyle]="{ backgroundColor: '#52c41a' }">
            </nz-badge>

        </ng-template>
    </nz-collapse-panel>
</nz-collapse>