<!-- <div nz-row>
    <div
      class="col"
      nz-col
      nz-resizable
      (nzResize)="onResize($event)"
      [nzMinColumn]="6"
      [nzMaxColumn]="12"
      [nzGridColumnCount]="24"
      [nzSpan]="col"
    >
      <nz-resize-handles [nzDirections]="['right']"></nz-resize-handles>
      col-{{ col }}
       <ng-container   CnAttributeItemDirective [state]="'edit'" [config]="{  type: 'AttributeTable', field: 'params',columns:columns}"
      [attributeConfig] = "attributeConfig" [valueConfig]="{'id':'','value':''}" (updateValue)="valueChange($event)">
        </ng-container> 

    </div>
    <div class="col right" nz-col [nzSpan]="24 - col">col-{{ 24 - col }}</div>
  </div> -->

<!-- <div nz-row>
    <div
      class="col"
      nz-col
      nz-resizable
      (nzResize)="onResize($event)"
      [nzMinColumn]="3"
      [nzMaxColumn]="20"
      [nzGridColumnCount]="24"
      [nzSpan]="col"
    >
      <nz-resize-handles [nzDirections]="['right']"></nz-resize-handles>
      col-{{ col }}
      <nz-card  [nzBordered]="true" nzTitle="Card title" >
        <nz-table [nzData]="listOfData" [nzFrontPagination]="false" [nzShowPagination]="false">
            <thead>
              <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Address</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of listOfData">
                <td>{{ data.name }}</td>
                <td>{{ data.age }}</td>
                <td>{{ data.address }}</td>
              </tr>
            </tbody>
          </nz-table>
      </nz-card>
     
    </div>
    <div class="col right" nz-col [nzSpan]="24 - col">col-{{ 24 - col }}</div>
  </div> -->

<div nz-row>
  <div nz-col nzSpan="12">
    <nz-card [nzBordered]="true" nzTitle="数组列表">
      <!-- <ng-container #AttributeTable CnAttributeItemDirective [state]="'edit'" [config]="{  type: 'AttributeTable',keyId:config.keyId, field: 'params',columns:config.columns}"
            [changeValue]="changeValue" [attributeConfig]="attributeConfig" [valueConfig]="{'id':'','value':''}" (updateValue)="valueChange($event)"  (execOperation)="changeData($event)" [typeConfig]="{'componentType':'table_from'}">
            </ng-container> -->

      <div #AttributeTable cn-attribute-table
        [config]="{  type: 'AttributeTable',keyId:config.keyId, field: 'params',columns:config.columns}"
        [changeValue]="changeValue" [loadConfigValue]="loadConfigValue" [attributeConfig]="attributeConfig"
        (execOperation)="changeData($event)" [typeConfig]="{'componentType':'table_from'}">
      </div>


    </nz-card>
  </div>
  <div nz-col nzSpan="12">

    <div #AttributeForm cn-attribute-form [changeValue]="changeValue" [config]="attributeConfig"
      [typeConfig]="{'componentType':'table_from'}" (execOperation)="changeData_formTotable($event)"></div>

  </div>
</div>
