<p>cfg-page-view works!</p>
<nz-card nzType="inner" nzTitle="初始化布局" style="width:100%;border: 1px solid #0ddaf5;  padding-right: 4px;"
    [nzBodyStyle]="{'padding':'1px 2px'}">
    行：<input nz-input placeholder="行" [(ngModel)]="layout_row" style="width: 60px;" />
    列：<input nz-input placeholder="行" [(ngModel)]="layout_col" style="width: 60px;" />
    列大小：<input nz-input placeholder="列大小" [(ngModel)]="layout_col_size" style="width: 60px;" />
    <button nz-button style="margin-left: 8px;" [nzSize]="'small'" nzType="primary" (click)="CreateLayout()">
        生成布局</button>
    <button nz-button style="margin-left: 8px;" [nzSize]="'small'" nzType="primary" (click)="printJson()">
        输出json</button>
</nz-card>
<app-cfg-page-layout [l_config]="l_config" [(selectedItem)]="selectedItem" [(showLayout)]="showLayout"
    [(cmptState)]="cmptState" [fromDataService]="fromDataService"></app-cfg-page-layout>