<!-- <button (click)="addNodeTest()">添加多选节点</button>
    <button (click)="addSingleNodeTest()">添加单选节点</button>
    <hr> (nzAfterClose)="handleClose1(tag)"-->

<div style="min-height: 35px; ">
    <nz-tag *ngFor="let tag of nodeList; let i = index" [nzMode]="'closeable'" [nzColor]="'cyan'"
        (nzOnClose)="handleClose1(tag)" style="margin-bottom: 3px">
        {{ tag['label'] }}
    </nz-tag>
</div>




<input type="hidden" nz-input [(ngModel)]="nodeList" (ngModelChange)="valueChange($event)" />