<nz-switch [(ngModel)]="showLayout" nzCheckedChildren="布局" nzUnCheckedChildren="组件" style="margin-left: 7px;">
</nz-switch>
<button nz-button style="margin-left: 8px;" [nzSize]="'small'" nzType="primary" (click)="saveJson()">
    保存json</button>
<button nz-button style="margin-left: 8px;" [nzSize]="'small'" nzType="primary" (click)="loadJson()">
    测试加载json</button>
当前页CODE：{{tempValue['PID']}}
<div nz-row>
    <div nz-col nzFlex="0 1 250px">

        <app-cfg-page-sider [fromDataService]="fromDataService" [layoutTree]="layoutTree"
            [(selectedItem)]="selectedItem"></app-cfg-page-sider>
    </div>
    <div nz-col nzFlex="auto" [ngStyle]="style1">
        <app-cfg-page-view [fromDataService]="fromDataService" [(selectedItem)]="selectedItem" [showLayout]="showLayout"
            [l_config]="layoutTree"></app-cfg-page-view>
    </div>
    <div nz-col nzFlex="0 1 400px" [ngStyle]="style1">
        <!-- style="max-height:80px;overflow:auto" -->
        <app-cfg-page-property [fromDataService]="fromDataService" [(selectedItem)]="selectedItem">
        </app-cfg-page-property>


    </div>
</div>
<!-- <app-cn-static-form-parameter-struct></app-cn-static-form-parameter-struct> 
<nz-divider nzDashed [nzText]="text">
    <ng-template #text><i nz-icon nzType="plus"></i> 表单可视化</ng-template>
</nz-divider>
<app-cfg-form-design></app-cfg-form-design>
-->
<nz-divider nzDashed [nzText]="text1">
    <ng-template #text1><i nz-icon nzType="plus"></i> 测试工具</ng-template>
</nz-divider>
<app-tool-attr-json></app-tool-attr-json>
<!--
<app-cn-cfg-flow-design></app-cn-cfg-flow-design>
 <app-cn-cfg-busi-flow></app-cn-cfg-busi-flow> -->