<!-- (drop)="f_ondrop($event,l_config)" -->
<div (click)="click($event)"
    [ngStyle]="(selectedItem['item'] &&(selectedItem['active']===l_config['type'])&& (selectedItem['item']['id']===l_config['id']) )? body_style_selected: body_style">

    <nz-form-item>
        <nz-form-label *ngIf="!config['hiddenTitle']" [nzSpan]="config.labelSize.span" [nzSm]="config.labelSize.nzSm"
            [nzXs]="config.labelSize.nzXs" [nzMd]="config.labelSize.nzMd" [nzLg]="config.labelSize.nzLg"
            [nzXl]="config.labelSize.nzXl" [nzTooltipTitle]="config.labelTooltipTitle"
            [nzTooltipIcon]="config.labelTooltipIcon" nzRequired>
            {{config['title']}}
        </nz-form-label>
        <nz-form-control [nzSpan]="config.controlSize.span" [nzSm]="config.controlSize.nzSm"
            [nzXs]="config.controlSize.nzXs" [nzMd]="config.controlSize.nzMd" [nzLg]="config.controlSize.nzLg"
            [nzXl]="config.controlSize.nzXl">
            <nz-tag nzColor="{{this.config.color}}">#{{this.config.field}}</nz-tag>
        </nz-form-control>
    </nz-form-item>
</div>